[2015-04-09 00:27] benperez opened #14 "Consider using Symbol instead of instanceof"
Currently you can't compare two instances of `Maybe` from different versions of `Sanctuary`. If Sanctuary registers a Symbol for each type in the global symbol registry at require time then these symbols could be compared across different version numbers.

[2015-04-09 01:39] davidchambers commented on #14
I'm not sure this is a good idea. Currently if `x instanceof S.Just` evaluates true the behaviour of `x` is guaranteed. If we switch to an looser approach we won't know whether `x` has certain methods so may end up using feature detection:

[code]

This doesn't seem like an improvement.

[2015-04-09 06:01] benperez commented on #14
Your criticism is definitely valid, you'll never be able to assume a given object has the same methods implemented. I guess the goal of using symbols would be that you could at least assume that you can always tell if something is an instance of something else. If that's the only thing you can guarantee though then this may not be worth it.

[2015-04-19 11:21] svozza opened #16 "Return Nothing() If The Object passed To Get() Is Null"
Would it be reasonable for `get` to have the above behaviour? I'd like to use this function as the 'gateway' for converting the values in a function pipeline to `Maybe`s. Currently I'm a querying a datasource using `highland` for some JSON that may return `null`. At the moment I do this:

[code]

It would be nice not to have to do that initial map with `toMaybe` and the subsequent call to R.chain

[2015-04-19 18:06] davidchambers commented on #16
I was excited to see this issue, @svozza. I had not realized that Sanctuary is being used outside a handful of Plaid projects. :)

I know of [Highland][1] but have never used it. Nonetheless, I believe I understand your problem.

In general—and *especially* in the case of Sanctuary—I believe functions should be strict about their inputs. Code written with Sanctuary should deal with `null` only whe

[2015-04-19 19:15] svozza commented on #16
It's funny, in my first draft of this I did exactly as you do in your example and filtered with `R.isNil` but wasn't sure if that was the right thing to do. The reasoning behind my changing it was that I thought it was best to get the data wrapped in a `Maybe` as soon as possible to prevent errors. I'm quite new to using these monadic types so I'm learning as I go; I like the idea of just being ab

[2015-04-20 14:56] buzzdecafe commented on #16
I think either of the two approaches (viz. `toMaybe` or `isNil`) is ok, but i don't think `map` et al. should null-check and wrap in an ADT.

off topic a bit: i am a fan of highland, and i'd love to ensure seamless integration with highland streams in ramda. maybe we can discuss elsewhere.

[2015-04-20 15:00] svozza commented on #16
Yes, definitely. Do you want me to open an issue on the Highland project or would you rather do it on the Ramda page or even in Gitter?

[2015-04-20 15:09] buzzdecafe commented on #16
any of the above is fine, or ping me via email. fwiw i imagined it as more of a ramda issue, for us to make sure we can consume highland streams point-free.

ok, @davidchambers i'm sorry for hijacking this thread. back on topic now ...

[2015-04-20 15:15] svozza commented on #16
Yeah. I'll open an issue on Ramda and call in some of the other Highland contributors who know the code much better than I do.

[2015-04-20 17:41] CrossEye commented on #16
Watch out.  That's what happened to @buzzdecafe and me too with Ramda.  A year later, there are 1600+ commits from 62 different contributors, 31 open issues and 9 unresolved pull requests out of over a thousand total issues/PRs raised!  It's a fun ride, but a little scary too!  :smile:

I'm quite happy with this breakdown.  Ramda pushes things a fair way towards stronger typing of functions, but m

[2015-04-20 17:45] davidchambers commented on #16
Thanks for your feedback, folks. Let's preserve the requirement that the second argument to `S.get{,s}` must not be null/undefined.

[2015-04-20 17:45] #16 closed

[2015-04-20 17:46] davidchambers commented on #14
Closing as this approach would solve one problem but create another.

[2015-04-20 17:46] #14 closed

[2015-04-20 19:59] svozza commented on #16
Sounds good. Thanks guys.

[2015-04-21 02:21] davidchambers opened #18 "stricter S.parseFloat and S.parseInt"
JavaScript is quite permissive:

[code]

Currently `S.parseFloat` and `S.parseInt` are straightforward wrappers for their built-in namesakes. As a result they're equally permissive. Should they be stricter? Is this possible without significantly increasing their complexity?

[2015-04-21 02:32] davidchambers commented on #18
Useful links:

  - <https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/parseFloat#A_stricter_parse_function>; and
  - <https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/parseInt#A_stricter_parse_function>.

`S.parseInt` would need to account for all the valid radices. This raises another question: what's the desired behaviour if the radi

[2015-04-22 10:25] svozza opened #20 "S.pluck?"
This is really sheer laziness on my part but my code is littered with `R.map(S.get('key'), arr))`, it's an improvement on having to remember to do `R.reject(R.isNil, R.pluck('key', arr))` whenever I use `R.pluck` but it would be nice to have some sugar around such a common pattern.

[2015-04-22 18:37] davidchambers commented on #20
`pluck` may be sugar, but sugar can be worthwhile. `R.pluck(x)` is sugar for `R.map(R.prop(x))`; `S.pluck(x)` could similarly be sugar for `R.map(S.get(x))`. The hitch is that Sanctuary doesn't currently depend on Ramda, though it's becoming clear that it should.

I'll put together a pull request to add Ramda as a dependency. Once that has been reviewed and merged, perhaps you'd like to open a pul

[2015-04-22 18:45] svozza commented on #20
Well I was planning on opening a PR that created the functionality from scratch,  or at least with no dependencies, but if you want to use Ramda I can  easily do that instead.

[2015-04-24 17:47] davidchambers commented on #20
Ramda is now a dependency, so open a pull request to add `S.pluck` if you feel so inclined, @svozza. :)

[2015-04-24 18:31] svozza commented on #20
Excellent. I'll definitely have time over the weekend.

[2015-04-25 00:39] davidchambers opened #22 "generate documentation via Transcribe"
<https://github.com/plaid/transcribe>

[2015-04-26 00:10] #20 closed

[2015-04-27 23:20] benperez opened #24 "Support ES6 Map Type"
[Maps](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map) are a new feature of ES6 that could replace the de facto use of objects as dictionaries in JS.

Haskell has a [Data.Map](https://downloads.haskell.org/~ghc/latest/docs/html/libraries/containers/Data-Map-Lazy.html#t:Map) module that has the following [API](https://downloads.haskell.org/~ghc/latest/docs/html

[2015-04-27 23:47] davidchambers commented on #24
Currently we have:

    get :: String -> Object -> Maybe *
    gets :: [String] -> Object -> Maybe *

What do you have in mind? Perhaps:

    mapGet :: * -> Map -> Maybe *
    mapGets :: [*] -> Map -> Maybe *

[2015-04-28 00:29] benperez commented on #24
The basics would be the following:
[code]
The `Data.Map.Lazy` API is pretty huge but I think there are a few natural directions to go from there. First would be convenience functions like `toList`, `fromList`, `keys`, and `elems`. From there it could be useful to define the [map](https://downloads.haskell.org/~ghc/latest/docs/html/libraries/containers/Data-Map-Lazy.html#g:14) and [fold](https://do

[2015-04-28 00:50] davidchambers commented on #24
This sounds very interesting indeed. A pull request to define `insert`, `delete`, and `lookup` would be useful at it would give us something concrete to discuss.

[2015-05-08 17:43] davidchambers commented on #24
It appears likely that ramda/ramda#1056 will be updated and merged in the not too distant future, which means `S.get` and `S.gets` will one day work with Map objects. Thank you for triggering this sequence of events, @benperez!

[2015-05-08 17:43] #24 closed

[2015-05-08 20:16] benperez commented on #24
:+1:

[2015-05-10 13:14] Cottin opened #28 "match ?"
Would it make sense to add a `match` function?

[code]
http://bit.ly/1HasPS6

We'd be "safer" with something like
[code]

Would it make sense to just add "safe" versions of all functions in Ramda that might otherwise need null checks? Is there some smart generic way to wrap Ramda functions and make them return `Maybe`s instead?

[2015-05-10 20:54] davidchambers commented on #28
Yes, I think so!

Good question. In the case of [`R.match`][1], composing with `S.toMaybe` should do the trick. `S.find` can't be defined in terms of [`R.find`][2], though, since `S.find(R.eq(undefined), [undefined])` should return a Just while `S.find(R.eq(undefined), [])` should return a Nothing.

[1]: http://ramdajs.com/docs/#match
[2]: http://ramdajs.com/docs/#find

[2015-05-21 19:39] #28 closed

[2015-05-26 06:06] #22 closed

[2015-05-26 20:56] svozza opened #39 "Ramda String Functions"
Working on #38 got me thinking about the other Ramda string functions that return a negative result that's not necessarily a `null` or `undefined`. For example, if you pass an index to `substringFrom` that's greater than the length of the string being operated on you just get back an empty string. Would it be useful to have a sanctified version that returns a Nothing in these sorts of cases?

[2015-05-27 01:33] davidchambers commented on #39
Before considering string slice functions, let's decide whether a sanctified version of [`R.slice`][1] is a good idea. We could implement [`S.tail`][2] and [`S.init`][3] in terms of `S.slice`:

[code]

[code]

I'm not sure how `S.slice(2, 102, ['a', 'b', 'c', 'd', 'e'])` would evaluate.

[1]: http://ramdajs.com/docs/#slice
[2]: https://github.com/plaid/sanctuary#tail
[3]: https://github.com/plaid/

[2015-05-27 10:19] svozza commented on #39
I guess there's not much difference between `slice` when `toIndex > arr.length` and `tail` so I think it's justified in only returning the remaining elements of the array. I don't think it would be that useful to return what amounts to a sparse array with 96 `Nothing`s or `Just(undefined)`s.

[2015-05-27 13:43] jgrund opened #40 "Ramda Hard Dependency"
Sanctuary is very cool.

However, what if a user wants to use sanctuary, but does not want the hard dependency on Ramda?

Is there a plan at some point to make this lib standalone?

[2015-05-27 16:25] davidchambers commented on #40
Initially Sanctuary was a stand-alone library. Ramda was added as a dependency in #21. The reasons given in that pull request's description remain valid.

Although I'm not opposed to duplicating some of Ramda's internals, there are two features I'm unwilling to relinquish:

  - __Placeholder support__

    Since Sanctuary functions are curried by [`R.curry`][1] they support the [`R.__`][2] placeho

[2015-05-27 16:39] davidchambers commented on #39
I'm wondering how the following translates to the hypothetical `S.slice`:

[code]

It seems `S.slice` should only return a Just if the array contains the *entire* range of indexes (otherwise it isn't well differentiated from [`R.slice`][1]):

[code]

This would guarantee that if `startIndex >= 0` and `endIndex >= 0` and `startIndex <= endIndex`, the resulting list will contain `endIndex - startInd

[2015-05-27 16:41] paldepind commented on #40
What about doing [something like this](https://github.com/paldepind/union-type-js/blob/master/union-type.js#L1)?

[2015-05-27 16:45] davidchambers commented on #40
@paldepind, that's a good option for those using Browserify, CommonJS Everywhere, or a similar tool. :)

[2015-05-27 16:51] paldepind commented on #40
And a browser build could be made as well. If you are not using Ramda then including the Ramda functions inside the built is what one wants?

[2015-05-27 16:57] davidchambers commented on #40
That's a good idea, if we decide to go down this path.

[2015-05-27 20:45] svozza commented on #40
Maybe it's because I only work server-side but I don't really have an issue with a dependency on Ramda, it seems strange to me to be be duplicating work that's already been done there. And it seems like a lot of effort to modularise the dependencies down to the function level when Ramda minified is only 32kb.

[2015-05-27 21:21] jgrund commented on #40
@davidchambers I am writing both server and client side JS, so file size is somewhat of a concern.

More than that though, I work in an environment that is very sensitive to dependencies. Any new deps are heavily scrutinized.

I am in the process of removing lodash in favor of an in house functional lib. As such I was interested in your thoughts of making this dep free as it would be one less depe

[2015-05-27 21:43] svozza commented on #39
Ah okay, I see where you're coming from. Seems like that's the implementation favoured here:

https://wiki.haskell.org/99_questions/Solutions/18

And here:

https://hackage.haskell.org/package/repa-array-4.1.0.1/docs/src/Data-Repa-Array-Auto-Operator.html

[code]

[2015-05-28 22:13] davidchambers commented on #39
Thanks for investigating, @svozza. Let's add `S.slice` before deciding whether any string-specific functions are necessary.

[2015-05-28 22:14] svozza commented on #39
Sounds good, I'll pick up this PR of you want.

[2015-05-28 22:21] davidchambers commented on #39
Go for it! :)

[2015-05-29 02:33] davidchambers opened #41 "safe division function"
[`R.divide`][1] isn't actually unsafe, but `Infinity` is as unhelpful as `NaN` in many situations.

[code]

[1]: http://ramdajs.com/docs/#divide

[2015-06-04 17:20] davidchambers opened #45 "integer type"
This may or may not be useful:

[code]

An integer type would allow us to specify types more precisely. [`S.at`][1], for example, could have type `Int -> [a] -> Maybe a`.

[1]: https://github.com/plaid/sanctuary#at

[2015-06-05 23:26] davidchambers commented on #40
ramda/ramda#1156 would make it possible for Sanctuary to provide its own :curry: function which respects `R.__` and other compatible placeholders. That said, Sanctuary makes heavy use of Ramda internally—and the source code is clearer as a result—so I don't foresee removing the Ramda dependency in the near future.

[2015-06-05 23:26] #40 closed

[2015-06-06 00:40] davidchambers commented on #39
We could define `S.take` and `S.drop`:

[code]

ramda/ramda#1159 deprecates `R.substringTo` and `R.substringFrom`. We could define `S.take` and `S.drop` in terms of `S.slice` so they would also work with strings.

[2015-06-08 08:50] svozza commented on #39
Yep, sounds good. I can work on this later on today.

[2015-06-15 23:48] davidchambers commented on #39
We now have `S.slice`, `S.take`, and `S.drop`, all of which can operate on strings (in addition to `S.indexOf` and `S.lastIndexOf` which are similarly polymorphic).

[2015-06-15 23:48] #39 closed

[2015-06-16 18:44] paldepind commented on #45
There is a tricky thing though. Numbers can be an instance of monoids in two different ways.

You could do either of these:

[code]
[code]

[2015-06-16 20:02] davidchambers commented on #45
True. I don't think this should prevent us from supporting one of the two. There are, I believe, multiple lawful definitions of [`Either#concat`][1]. @joneshf and I chose the one which seemed most useful, but I recall @CrossEye advocating a different definition.

That's not *quite* true, since one can define `Int#valueOf :: Int ~> Number`:

[code]

To get `Int(3)` as the result one would use `S.ad

[2015-06-17 16:58] davidchambers opened #53 "function equivalent of "do" notation"
Let's consider a problem which a hypothetical `do` function might help us to solve:

Here's the obvious naive solution:

[code]

This won't handle all the following inputs:

  - `{a: {b: {c: '2.25'}}}`
  - `{a: {b: {c: 'blah'}}}`
  - `{a: {b: {}}}`
  - `{a: {}}`
  - `{}`

This is how I would solve this problem today:

[code]

With two small changes we can make this more uniform:

[code]

If we the

[2015-06-17 17:16] buzzdecafe commented on #53
wow, that is nice sugar. FWIW, I think `$do` is fine

[2015-06-17 17:20] davidchambers commented on #53
I think so too! Shall I open this for discussion on the Ramda issue tracker? The function could be defined there instead. :)

[2015-06-17 17:29] buzzdecafe commented on #53
your call. looks pretty interesting to me.

Can't you also do this:

[code]

[2015-06-17 17:34] CrossEye commented on #45
I would be concerned about defining `concat` as `add`.  The minute you do, you'll want it to mean something else.

I don't think there is much of a reason to try to define standard Monoids on numeric types.  One can create an Add monoid and a Multiply monoid over a numeric type if necessary, or even more esoteric ones, but I think simply defining the operators you want would be more useful.  This

[2015-06-17 17:47] davidchambers commented on #53
The types don't line up in your definition, @buzzdecafe. You're fully applying (ahem) `R.apply` (which takes two arguments).

[2015-06-17 17:58] benperez commented on #53
Why isn't do a valid identifier?

[2015-06-17 18:01] davidchambers commented on #53
`do` is a keyword: [`do...while`][1].

[1]: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/do...while

[2015-06-17 18:20] buzzdecafe commented on #53
yep, i was reading `apply` like `compose` for some reason

[2015-06-17 18:26] benperez commented on #53
Oh, duh. :goat:

The only limitation I see here is that this form of `do` notation only really allows you to feed through a single monadic value. You lose the ability to bind different variables to different monadic values in the same do expression like the following example:
[code]

[2015-06-17 18:30] davidchambers commented on #53
True. `R.compose` and `R.pipe` share this limitation, of course.

[2015-06-17 18:38] benperez commented on #53
I don't really see how that relates. I think you might be able to come up with a way to bind different variables but I'm guessing it would be pretty hacky.

I think this is cool for the single pipeline case though!

[2015-06-17 18:46] buzzdecafe commented on #53
indeed. I was trying to come up with some way to do that, but all i could come up with could only generously be called "hacky"

[2015-06-17 18:47] joneshf commented on #53
The name you're looking for is `Kleisli`: https://en.wikipedia.org/wiki/Kleisli_category

What you've Greenspun'd is exactly Kleisli composition. :)

See also: [`>=>`](http://hackage.haskell.org/package/base-4.8.0.0/docs/Control-Monad.html#v:-62--61--62-) and [`<=<`](http://hackage.haskell.org/package/base-4.8.0.0/docs/Control-Monad.html#v:-60--61--60-)

[2015-06-17 18:57] davidchambers commented on #53
It sounds as though Ramda needs *more* composition functions. `R.composeK` and `R.pipeK`, anyone?

[2015-06-17 18:58] buzzdecafe commented on #53
:scream:

[2015-06-17 19:01] joneshf commented on #53
Sorry, I didn't actually look close enough. `$do` isn't entirely kleisli composition. If you have:

[code]

Then yes.

Also, note that you don't actually need the full power of `Monad` for this.

[2015-06-17 19:06] joneshf commented on #53
No, it definitely needs less (ideally one). They're all specific cases of a more general `Semigroupoid` idea.

[2015-06-17 19:19] buzzdecafe commented on #53
I recall you and @scott-christopher discussing that in the gitter room. i may take a whack at unifying our many composers into one.

Which raises the thought: A good name for a javascript composition lib would be Bach.js

[2015-06-17 19:43] davidchambers commented on #53
@joneshf, do you think such a function should return `a -> m z` rather than `m a -> m z`?

I'm having a bit of trouble seeing how something of the shape

[code]

can be rewritten as a pipeline where every function in the pipeline is a partially applied `R.chain`.

[2015-06-18 01:53] joneshf commented on #53
I was just nitpicking, and looking more closely at the haskell stuff.

They're equivalent, so either way is fine, since `(f >=> g) x = f x >>= g` and `x >>= f = (id >=> f) x`. So choose either one and you can provide the other easily.

Hmm, I think I'm having a brain fart here, or I'm not understanding the question.

[2015-06-18 02:43] davidchambers commented on #53
That makes sense. :)

I didn't see at the time how to return `a -> m z` rather than `m a -> m z`. I do now. The implementation is a bit more involved, since one must apply `R.chain` to all the arguments but the first:

[code]

I'm intrigued by the possibility of a composition function which can perform Kleisli composition as well as "regular" function composition. I've no idea how this is possible

[2015-06-18 05:32] joneshf commented on #53
Thinking about it now, I think the only way to make it happen is to wrap the monadic function in a `Kleisli` type.

[2015-06-18 05:36] joneshf commented on #53
Also, if it wasn't clear from the signature `Kleisli == ReaderT`, and `a -> b == ReaderT Identity a b`. So that's why I feel these can be unified. But I think without a compiler implicitly passing around things and wrapping/unwrapping, it'd end up being a less than optimal api.

[2015-06-18 15:22] CrossEye commented on #53
That's often where the rubber meets the road with JS libs.  There a lot of '_almost_'s and '_if only+'s floating around, usually having to do with its type system.

[2015-06-18 16:50] joneshf commented on #53
Thinking about it more, you'd run into the same api issues in haskell. And the ways around it are just as suboptimal, but for different reasons. I guess I just want too much.

[2015-06-19 16:42] paldepind commented on #45
Yes. But that is quite awkward since the result of the addition is of a different type. That does not seem well behaved to me: `(+) :: Int -> Int -> Number`.

I don't really understand why you think having an explicit integer type is necessary for that. What's in the way of just using that type today anyway? [JavaScript has the concept that a number can be an integer](https://developer.mozilla.org

[2015-06-19 17:24] davidchambers commented on #45
Oh, I see your point now (which may also be what @CrossEye was saying). I absolutely :heart: this idea!

I was ready to raise two objections, but in writing them I thought of good solutions to both. :)

__We would lose the ability to provide polymorphic functions.__ For example:

[code]

Should `divide(7, 2)` evaluate to `3` or `3.5`? It's ambiguous. We'd need separate functions:

[code]

This see

[2015-06-22 02:57] davidchambers commented on #53
ramda/ramda#1212 added a variadic version of the proposed `$do` function as `R.pipeK`.

[2015-06-22 02:57] #53 closed

[2015-07-30 01:01] davidchambers opened #66 "add S.takeLast and S.dropLast"
We should define sanctified versions of [`R.takeLast`][1] and [`R.dropLast`][2].

If you're interested in contributing to Sanctuary for the first time, this is a well-defined, self-contained problem well-suited to a first contribution. :)

[1]: http://ramdajs.com/docs/#takeLast
[2]: http://ramdajs.com/docs/#dropLast

[2015-07-30 21:33] davidchambers commented on #66
Added in #67

[2015-07-30 21:33] #66 closed

[2015-08-25 12:15] davidchambers opened #71 "maybe :: b -> (a -> b) -> Maybe a -> b"
<https://hackage.haskell.org/package/base-4.8.1.0/docs/Data-Maybe.html#v:maybe>:

[2015-08-25 12:18] davidchambers opened #72 "catMaybes :: [Maybe a] -> [a]"
<https://hackage.haskell.org/package/base-4.8.1.0/docs/Data-Maybe.html#v:catMaybes>:

[2015-08-25 12:21] davidchambers opened #73 "mapMaybe :: (a -> Maybe b) -> [a] -> [b]"
<https://hackage.haskell.org/package/base-4.8.1.0/docs/Data-Maybe.html#v:mapMaybe>:

[2015-08-25 12:36] davidchambers opened #74 "reconsider Maybe#empty"
[code]

Should the latter give `Just([])` instead? [Monoids for Maybe][1] suggests that both approaches are valid. Which do you think is more useful, @joneshf?

[1]: https://byorgey.wordpress.com/2011/04/18/monoids-for-maybe/

[2015-08-25 13:26] joneshf commented on #74
I think they're all equally useful. Can you defer the decision to the user? Also, wont the `Semigroup` have something to say about what the `Monoid` can be?

[2015-08-27 02:25] davidchambers commented on #74
Could you elaborate? Currently `Maybe.prototype.empty` is essentially defined as `() => Nothing()`, so the user has no say in the matter.

Good point. I don't think `Maybe#concat` would need to change, though, since both

[code]

and

[code]

evaluate to `Just([1, 2, 3])`, so we satisfy the [Monoid][1] identity laws either way.

[1]: https://github.com/fantasyland/fantasy-land#monoid

[2015-09-03 23:08] davidchambers opened #75 "create stand-alone package for def function"
This function could be used by other libraries. It would also enable wrappers for libraries (such as Ramda) which don't provide a descriptive error message when given a value of the wrong type.

[2015-09-08 16:51] #45 closed

[2015-09-08 21:56] #71 closed

[2015-09-09 00:45] tel commented on #73
I really like to call this filter, since it's just a small generalization of normal filter.

Unfortunately that'd be a bit of a breaking change.

[2015-09-09 00:58] davidchambers commented on #73
Interesting idea. The fact that `mapMaybe` filters *while mapping* makes it significantly different from the typical `(a -> Boolean) -> [a] -> [a]` filter function in my eyes. Consider:

[code]

In what respect? `S.filter` is not currently defined, though we do provide [`Maybe#filter`][1] for use with [`R.filter`][2], and having two quite different things named `filter` could cause confusion.

[1]

[2015-09-10 00:43] #72 closed

[2015-09-10 19:17] #73 closed

[2015-09-10 20:54] davidchambers opened #81 "check arguments.length in def function"
Current behaviour:

[code]

Desired behaviour:

[code]

`S.or(true)(true, true)` should behave the same way.

[2015-09-11 06:02] davidchambers opened #83 "toEither :: a -> b? -> Either a b"
Suggested by @raine on [Gitter][1].

[code]

This would mirror [`S.toMaybe`][2].

[1]: https://gitter.im/plaid/sanctuary
[2]: https://github.com/plaid/sanctuary#toMaybe

[2015-09-11 09:30] raine commented on #83
If you want to have an Error object inside `Left`, you'd have to do something like this to get a sensible stacktrace.

[code]

Creating unneeded Error objects doesn't seem like a good idea, at least from performance point of view. Taking a function as first argument would solve this, but does it make the API too focused on that particular use case?

[2015-09-11 19:44] davidchambers commented on #83
I'd probably use [`R.ifElse`][1] in that case:

[code]

Perhaps, though, we could have a second function of type `String -> a? -> Either Error a`. The function would create an Error object with the specified message if necessary. I don't want to rush into adding such a function. I'm wary whenever we deviate from the path paved by Haskell and PureScript.

[1]: http://ramdajs.com/docs/#ifElse

[2015-09-11 21:32] davidchambers opened #84 "descriptive "method missing" errors"
For example:

[code]

It would be nice to see something this instead:

[code]

[2015-09-16 00:57] #18 closed

[2015-09-18 02:33] davidchambers opened #88 "publish to Bower registry"
As suggested by @ChetHarrison on Gitter.

1.  Add __bower.json__

2.  Run `bower register sanctuary git://github.com/plaid/sanctuary.git`

[2015-09-18 18:21] benperez opened #89 "Add S.unfoldr"
This has always felt awkward [in Ramda](http://ramdajs.com/docs/#unfold) since the supplied function returns `false` or an actual value. The [haskell version](http://hackage.haskell.org/package/base-4.8.1.0/docs/Data-List.html#v:unfoldr) uses maybe and is much more elegant.

[code]

[2015-09-18 19:00] davidchambers commented on #89
:+1:

[2015-09-19 00:08] davidchambers commented on #88
[code]

[2015-09-19 00:08] #88 closed

[2015-09-21 16:45] #81 closed

[2015-09-21 16:48] #84 closed

[2015-09-21 19:08] ChetHarrison commented on #88
Thanks!!!

On Sep 18, 2015, at 5:08 PM, David Chambers <notifications@github.com> wrote:

$ bower info sanctuary
bower sanctuary#*               cached git://github.com/plaid/sanctuary.git#0.6.0
bower sanctuary#*             validate 0.6.0 against git://github.com/plaid/sanctuary.git#*

{
  name: 'sanctuary',
  homepage: 'https://github.com/plaid/sanctuary',
  version: '0.6.0'
}

Available version

[2015-09-22 16:44] davidchambers opened #97 "function for creating RegExp values"
Similar to [`regex`][1] from PureScript's Data.String.Regex module.

[1]: https://github.com/purescript/purescript-strings/blob/v0.7.0/docs/Data/String/Regex.md#regex-1

[2015-09-22 18:02] raine opened #98 "Mapping the left side of an Either"
Let's explore if these functions in [`data.either`](https://github.com/folktale/data.either) would be useful in Sanctuary:
- [`orElse`](https://github.com/folktale/data.either/blob/master/lib/either.js#L313-L315)
- [`bimap`](https://github.com/folktale/data.either/blob/master/lib/either.js#L380-L394)
- [`leftMap`](https://github.com/folktale/data.either/blob/master/lib/either.js#L397-L408)

[2015-09-23 19:23] benperez commented on #98
Nice suggestions! In Haskell [Data.Either is an instance of Data.Bifunctor](http://hackage.haskell.org/package/base-4.8.1.0/docs/Data-Either.html#v:bimap). Which would give us `bimap`, `first` (or `leftMap`), and `second` (or `rightMap`/`fmap`). `orElse` seems interesting too, what's an example use case for that?

[2015-09-23 19:27] davidchambers opened #100 "remove instanceof checks"
Sanctuary's run-time type checking currently relies on `instanceof` checks. This guarantees that if a value passes type checking it will support all the expected operations.

If a function requires an argument of type `Maybe a`, for example, a Maybe created by a *different* version of Sanctuary will fail type checking (with a rather confusing error message). For example:

    TypeError: ‘fromMaybe

[2015-09-24 05:23] davidchambers opened #102 "port higher-order Ramda functions which accept variadic functions"
In Ramda we're slowly replacing variadic functions with fixed-arity functions. I'm very much in favour of this. I'd like to go a step further in Sanctuary by fixing the arities of function *arguments*. [`R.both`][1], for example, has type `(** -> Boolean) -> (** -> Boolean) -> (** -> Boolean)`, where `**` represents zero or more arguments. I'd like to provide a `both` function in Sanctuary which i

[2015-09-28 20:51] davidchambers opened #103 "simplify S.encase and S.encaseEither"
Currently, [`encase`][1] and [`encaseEither`][2] have misleading type signatures:

[code]

They are misleading because Hindley–Milner notation cannot represent a function which returns a curried function of unknown arity.

In addition to the documentation problem, there's a usability problem. Functions with unwanted optional arguments must be wrapped in lambdas. For example:

[code]

A solution to

[2015-09-28 22:36] benperez commented on #103
This approach seems sound to me. I like the idea of being explicit about the number of parameters you are expecting in the supplied function. More often these days I'm starting to see variadic functions and function context as distracting and occasionally problematic features of JavaScript.

[2015-10-01 22:56] benperez commented on #98
I'm going to go ahead and take a crack at `leftMap` and `biMap`. @albrow and I had a need for this earlier today.

[2015-10-06 20:58] boxofrox commented on #75
As alluded to in gitter.im/ramda/ramda, I'm very interested in alternatives to debugging than with stack traces.  At the moment I get by with `trace`[1] and stack traces.  I don't yet conceive how `def` will work, but it sounds vaguely related to Meteor's `check` and React's `propTypes` which have saved me in past projects.

[code]

[2015-10-06 21:31] davidchambers commented on #75
I'm sorry about the lack of detail in the issue description. An example would surely help!

[code]

`def` takes three arguments: a name, a list of [type representatives][1], and a function to wrap (and :curry:). See Sanctuary's source code for more usage examples.

[1]: https://github.com/plaid/sanctuary#type-representatives

[2015-10-07 02:47] davidchase commented on #75
A standalone library for creating methods with type definitions would be :+1:  I 1st saw this concept on your [envvar](https://github.com/plaid/envvar/blob/master/index.js#L15) and i liked the idea so i wrote one for my job... but my current verison just supports regular functions without currying so its pretty naive.

[2015-10-07 05:25] davidchambers commented on #75
Thank you, @boxofrox and @davidchase, for chiming in. Now that there's interest in this functionality I'll prioritize this above some of the other Sanctuary-related tasks currently on my mind.

[2015-10-13 18:04] #89 closed

[2015-10-21 00:25] #97 closed

[2015-10-25 05:54] #100 closed

[2015-11-03 14:10] svozza commented on #102
If no one is working on this I can grab `both`, `either` and `complement`?

[2015-11-03 15:25] davidchambers commented on #102
Please do, @svozza. :)

[2015-11-03 19:34] svozza commented on #102
Quick question, do we want to do the non-short circuiting version using `lift`?

[2015-11-03 19:51] davidchambers commented on #102
I think we should short-circuit. It's likely Ramda will do the same.

[2015-11-03 20:18] svozza commented on #102
Should I just wrap the relevant Ramda functions because we're still on v0.17 or will I reimplement them from scratch?

[2015-11-03 20:36] davidchambers commented on #102
It would be clearer to implement them from scratch. This will also simplify the process of upgrading to Ramda v0.18.x.

[2015-11-04 18:16] svozza commented on #102
What will we do about `either` given that it shares a name with a function currently in Sanctuary.

[2015-11-04 18:22] davidchambers commented on #102
Yikes! That's a terrific question. `and` and `or` already exist as well. We should not merge #110 until we resolve this conundrum.

[2015-11-04 19:00] davidchambers commented on #102
Perhaps what we actually want are fixed-arity versions of [`R.lift`][1]: `S.lift`, `S.lift2`, and `S.lift3`. This would allow `S.lift2(S.and)` and `S.lift2(S.or)` to function as `both` and `either` respectively.

/cc @benperez

[1]: http://ramdajs.com/docs/#lift

[2015-11-04 19:00] svozza commented on #102
I've always thought `S.either` could be named better but having an `either` function not related to the `Either` type could be confusing.

[2015-11-05 17:18] davidchambers commented on #102
@svozza, do you think the `S.lift{,2,3}` option is worth exploring?

[2015-11-05 21:12] svozza commented on #102
So do we mean, not provide functions like `S.both` and `S.either` and just let people compose the `lift2` or `lift3` versions instead? As long as we don't mind losing the short-circuiting then yeah that could definitely work. Btw, how deep do we want the type checking on this stuff to go? Like do we want to create a pseudotype that checks that the function that's passed in in unary and the argumen

[2015-11-05 22:26] davidchambers commented on #102
Yes, that's what I have in mind.

I'm working on a more ambitious pull request to replace plaid/sanctuary-def#1. It will allow one to specify the `a` in `[a]`, `Maybe a`, `Either a b`, etc. Even in this experimental branch, though, I treat a function's type as `Function` rather than `Function a b` (i.e. `a -> b`). I don't see how we'd determine a function's input and output types. We could check a

[2015-11-05 22:34] svozza commented on #102
Yeah,  I agree I can't see how you could reliably do that and checking the arity would mean any variadic  function would automatically fail unless it wrapped in something like `R.arity`. That's a lot to expect from a user.

Regarding the first suggestion, I think go for it, it's far more in the spirit of Sanctuary than ramda. Maybe use `or` and `and` in the doc examples to give people a nudge.

[2015-11-07 00:31] davidchambers commented on #102
Good idea. We could even include `lift` examples in the `and` and `or` sections so people looking to logically combine functions will discover `lift(and)` and `lift(or)`. :)

[2015-11-14 19:24] benperez commented on #102
@davidchambers :+1: for `S.lift`, `S.lift2`, `S.lift3` and friends

[2015-11-17 00:39] davidchambers opened #118 "maybe: implement Traversable"
@scott-christopher defined [Foldable][1] for Maybe in #69. It would be useful to define [Traversable][2] as well, particularly in light of ramda/ramda#1467.

[1]: https://github.com/fantasyland/fantasy-land#foldable
[2]: https://github.com/fantasyland/fantasy-land#traversable

[2015-11-17 00:45] davidchambers opened #119 "either: implement Foldable"
[Foldable](https://github.com/fantasyland/fantasy-land#foldable)

[2015-11-17 00:46] davidchambers opened #120 "either: implement Traversable"
[Traversable](https://github.com/fantasyland/fantasy-land#traversable)

[2015-12-16 01:51] #75 closed

[2015-12-16 21:19] #103 closed

[2015-12-16 23:50] davidchambers commented on #41
Thanks to @joneshf I now have a different take on the matter. The type is not

[code]

but

[code]

Thanks to [sanctuary-def][1] we now have a way to express this in the type system.

[1]: https://github.com/plaid/sanctuary-def

[2015-12-16 23:50] #41 closed

[2015-12-17 00:02] davidchambers commented on #74
Consider the matter reconsidered.

[2015-12-17 00:02] #74 closed

[2015-12-18 00:03] davidchambers commented on #98
Are you still interested in working on this, @benperez? If not, I'm happy to investigate these options.

[2015-12-18 00:06] blperez commented on #98
I can check it out this weekend after I submit my ramda PR.

[2015-12-18 00:07] davidchambers commented on #98
That would be wonderful!

[2015-12-18 00:07] benperez commented on #98
@blperez is an imposter, I'll take a look when if I get a chance this weekend.

[2015-12-20 13:47] Beanow opened #125 "[Feature] Check input for pipe"
Please check ahead of time when declaring pipe statements if the functions are defined.
Currently stack traces when a piped function is undefined are very obscure.

Using version 0.7.1.
[code]
Outputs
[code]

[2015-12-20 18:35] davidchambers commented on #125
Good idea, @Beanow. Fortunately, this will be resolved by #123:

[code]

[2016-01-05 22:36] svozza opened #127 "Add Math Functions"
It would be nice to have type-safe versions of `R.add`, `R.subtract`, `R.multiply` and `R.divide`. If people think that's a good idea, I will do a PR once #123 has landed.

[2016-01-05 22:38] davidchambers commented on #127
Absolutely! You could also define `S.inc` and `S.dec` while you're at it. :)

[2016-01-05 22:38] svozza commented on #127
Yep, good shout.

[2016-01-15 23:04] davidchambers opened #130 "fromEither :: b -> Either a b -> b"
This was suggested by @Bpless as a way to extract the `b` from a value of type `Either a b`. It's analogous to [`fromMaybe :: a -> Maybe a -> a`][1].

Usage:

[code]

[1]: https://github.com/plaid/sanctuary#fromMaybe

[2016-01-15 23:05] svozza commented on #130
Oh nice, I'd really like this function.

[2016-01-25 22:17] davidchambers commented on #125
I've just published v0.8.0, which has the behaviour indicated in the comment above. :)

[2016-01-25 22:17] #125 closed

[2016-01-26 22:04] svozza opened #132 "Can't Add Additional sanctuary-def Types To Env"
I started work on the maths functions listed in #127 but have encountered some really strange behaviour. The very act of including `$.FiniteNumber` in `$.env` causes a bunch of tests to fail. They all involve functions that have a dependency on type classes in their definition. Here are some of the errors:

Etc...

I'm guessing there's something going on with the definition of Sanctuary's `Semigro

[2016-01-26 22:22] davidchambers commented on #132
Could it simply require updating the expected error messages to mention `FiniteNumber`?

[2016-01-26 22:56] svozza commented on #132
Ah yes indeed. Although simply updating the error messages required changing 22 tests!

[2016-01-26 22:56] #132 closed

[2016-01-28 23:24] davidchambers commented on #118
Thanks again for the contribution, @scott-christopher!

[2016-01-28 23:24] #118 closed

[2016-01-31 01:32] davidchambers opened #139 "more combinators"
@Avaq raised the issue of combinators on Gitter. Sanctuary currently exports [`I`][1] and [`K`][2], but [fantasy-combinators][3] defines several more, neatly summarized in a [gist][4]:

`A` is a strict version of [`R.call`][5] (since it expects a unary function).

`C` is a strict version of [`S.flip`][6] (since it expects a curried function).

`B` is [`S.compose`][7].

I'd like Sanctuary to provid

[2016-01-31 01:41] #127 closed

[2016-01-31 15:54] Avaq commented on #139
Hi @davidchambers!

In all honesty I have to say I'm still a bit skeptical about the decision to add *more combinators* to Sanctuary. There are several points I'd like to make.

----

Firstly, as I've come to understand, combinators have their roots in Lambda calculus. The Y combinator specifically -I believe- is a way to gain recursion in an environment where there is no variable assignment other

[2016-01-31 16:34] Avaq commented on #139
I would probably be happy with `S` being added (possibly with an alias `substitute`), `C` being added as an alias to `flip` and `B` as an alias to `compose`. This strikes me as a nice balance between brevity, utility and accessibility. Then again, I'm not sure what you're aiming for. :)

[2016-02-01 04:07] davidchambers commented on #139
This sounds great to me. I think `A` would be useful as well. I'm surprised by how often I see comments on Gitter from people trying `R.call(R.__, arg)`, which doesn't work since [`R.call`][1] supports variadic functions. In this case `T` would be even more convenient than `A` + placeholder, so perhaps we should provide `T` as well.

Your comments about the impracticality of the Y combinator in Ja

[2016-02-02 21:39] whatsajava commented on #139
hey good project lol

[2016-02-02 21:39] whatsajava commented on #139
hey bad project lol

[2016-02-02 23:23] davidchambers commented on #102
Thanks to contributions from @svozza and @benperez, we now have access to all these functions!

[code]

[2016-02-02 23:23] #102 closed

[2016-02-02 23:48] benperez commented on #102
:cake:

[2016-02-03 20:11] svozza opened #145 "Type Safe Ramda Functions"
As mentioned in #141, let's start try to get a list of typesafe functions we want from Ramda. I've put together a list of way too many functions that we can whittle down here as people chip in with their views.

- [x] [`R.append`](http://ramdajs.com/docs/#append)
- [x] [`R.concat`](http://ramdajs.com/docs/#concat)
- [ ] [`R.contains`](http://ramdajs.com/docs/#contains)
- [ ] [`R.equals`](http://ra

[2016-02-04 05:29] davidchambers commented on #145
I think we can tick the box beside [`R.nth`][1] since we already have [`S.at`][2].

Is there a reason you included [`R.when`][3] but not [`R.unless`][4]?

This should be possible. For example:

[code]

[1]: http://ramdajs.com/docs/#nth
[2]: https://github.com/plaid/sanctuary#at
[3]: http://ramdajs.com/docs/#when
[4]: http://ramdajs.com/docs/#unless

[2016-02-04 06:40] svozza commented on #145
Ah yes, of course.

Oops, no, just an oversight. Fixed.

[2016-02-05 22:39] Avaq opened #149 "Type validation using predicates rather than TypeRep's"
Since most type-checking libraries provide convenient ways to get the predicate for a type, this would allow for much greater interoperability with run-time type systems.

With Sanctuary:

[code]

With TComb:

[code]

With Sanctuary Def:

[code]

The possibilities are _endless!_ Another option is to accept Sanctuary Def types, which would make the code a little more concise, but the possibilities

[2016-02-05 22:57] davidchambers commented on #149
I'd like to keep the possibilities endless. :)

I'd like it to remain possible to use Sanctuary without sanctuary-def. It's nice that one could preserve the current behaviour simply by replacing `S.get(X)` with `S.get(S.is(X))`.

This change would let us replace `TypeRep b` with `(Any -> Boolean)` in several type signatures. Sanctuary-specific things make me uneasy. Predicates are commonplace.

[2016-02-06 06:41] svozza commented on #149
How would this feature work with https://github.com/plaid/sanctuary-def/pull/28?

[2016-02-06 12:35] Avaq commented on #149
@svozza I would imagine `$.Type.test` would still be an operational predicate even if automatic run-time type-checking is turned off. This feature is about explicit type-checking, you wouldn't want that turned off even in production because the behaviour of your program depends on it, eg:

[code]

Wouldn't want this to behave any differently in production.

[2016-02-06 13:11] Avaq opened #150 "Even safer parseJson"
I'm very fond of the `get` and `gets` style of type validation, because it forces you to do it. It would've already saved me on multiple occasions if `parseJson` (or any `x -> Any` function for that matter) had this built-in, because after doing a "safe" JSON parse, it doesn't always occur to me the return value may still be of an unwanted type.

An alternative is to extract this behaviour out to

[2016-02-06 14:39] svozza commented on #149
Fair enough, makes sense. I would go the other way though and not mix the concerns of validating types with those of getting a value and have this as a separate function in the pipeline.

[2016-02-06 15:34] Avaq commented on #149
Like I said in #150, I do think that would be more elegant. But I'm really quite fond of the way these functions *force* me to do type validation where appropriate once you "mix the concerns".

[2016-02-06 21:59] Avaq commented on #139
:information_source: I'm working on a PR for this.

[2016-02-06 22:21] whatsajava commented on #139
metoohaha

________________________________
From: Aldwin Vlasblom <notifications@github.com>
Sent: 06 February 2016 22:59
To: plaid/sanctuary
Cc: Nathan Snellaert
Subject: Re: [sanctuary] more combinators (#139)

[:information_source:] I'm working on a PR for this.

-
Reply to this email directly or view it on GitHub<https://github.com/plaid/sanctuary/issues/139#issuecomment-180872472>.

[2016-02-06 22:41] Avaq commented on #139
@whatsajava Oh wow. Haha! I just finished mine. What do we do?

[2016-02-07 23:37] davidchambers commented on #149
I am too. This was the motivation for adding the type arguments in #64.

[2016-02-11 08:45] jethrolarson commented on #139
Aw yes, the [`C, A, T, S, P, Y, B, I, K` system](http://www.unp.me/attachments/f98/11203d1297789674-invisible-bike-invisible-bike.jpg)

[2016-02-18 01:49] davidchambers commented on #139
I just looked at some code and spotted multiple occurrences of `R.lift(R.call)(f, S.I)`. Here's a concrete example:

[code]

The pipeline takes a value of some type and returns a function which operates on a value of that type. This function is then applied to the original value. I wrote a function to obviate the need for `lift(call)(…, I)` shenanigans, and gave it a type signature: `(a -> a -> b)

[2016-02-18 07:23] dalgard opened #156 "ToC in readme"
It would be helpful with a table of contents in the readme docs. I tried generating one with [DocToc](https://github.com/thlorenz/doctoc), but it choked on the markup of the function signatures.

Before I try to work around it – are you interested in getting a PR for it at all?

[2016-02-18 17:48] davidchambers commented on #156
A table of contents would be useful, certainly. Listing every function is perhaps unnecessary, but it would be great to list the sections and to be able to jump to a particular section. :)

If we decide not to list every function, we may not need to introduce a dependency:

[code]

It's worth noting that I've begun work on a website for Sanctuary, though this is an orthogonal issue as the readme w

[2016-02-20 04:12] jackfirth opened #157 "Contracts?"
Sanctuary strives to complement Ramda with safe, total functions providing strong guarantees about their behavior. Enforcement is via first-order type checking, e.g. throwing TypeError when given a Number where a String is expected. However, *higher-order* properties are more difficult to enforce - how does one verify that the function given to `Maybe.filter` returns a boolean? You can check that

[2016-02-21 16:38] jethrolarson commented on #145
I assume that your concat would ensure that both arguments are the same type, right?

[2016-02-23 01:58] davidchambers commented on #145
That's right, @jethrolarson:

[code]

[2016-02-23 06:03] davidchambers commented on #157
Thank you for opening this issue, @jackfirth, and for going into quite a bit of detail! Apologies in advance for going off on a slight tangent. :)

Let's consider a familiar function, `map`, whose type signature is difficult to express in many languages:

[code]

With [sanctuary-def][1], the closest we can currently get is `[$.Function, a, b]`, which is not very useful at all. However, I've been l

[2016-02-23 07:51] jackfirth commented on #157
Contracts.js includes support for enforced parametric polymorphism out of the box. This is implemented via *opaque wrappers* and a notion of *blame*. For example in the case of filtering an array, which has type `filterArray : (a -> Boolean) -> [a] -> [a]`. To enforce parametricity, a contract system constructs a type of opaque object wrapper that only it can inspect - for example an object with a

[2016-02-23 22:13] davidchambers commented on #157
This is fascinating, @jackfirth. I will make time to read and watch these various resources.

[2016-02-28 11:42] svozza commented on #145
So, I'm trying to implement `S.length` and this issue of types that work on lists and strings won't be resolved by relying on the `Semigroup` type. If we restrict `S.length` in this way then that means that the function should work on `Either` types, which of course don't have a `length` property. It also means that it won't operate on the `Function` type. If we could treat strings as lists of cha

[2016-02-28 19:07] jethrolarson commented on #145
Yeah, semigroup doesn't give you index or length. Array-like does but
that's not mathy :)

On Sun, Feb 28, 2016, 3:42 AM Stefano Vozza <notifications@github.com>
wrote:

[2016-02-28 20:59] svozza commented on #145
Ha. Yes, I was hoping not to go down that route...

[2016-02-29 02:25] joneshf commented on #145
Array-like can mostly be approximated by `Foldable` because you can define `toArray`: https://github.com/fantasyland/fantasy-land/#foldable

So you could have length. Though i'm not exactly sure how to type it with `sanctuary-def`:

[code]

Are there any examples in `sanctuary-def` of typeclasses with higher kinded types? I see the test for `Monad`, but it's a test of the bad case.

[2016-02-29 16:28] davidchambers commented on #145
One straightforward solution is a "Countable" type class which checks whether a given value has a valid `length` property. I like where @joneshf is going with Foldable, though.

I believe higher-kinded types to be doable, but sanctuary-def don't yet support them.

[2016-03-02 18:29] davidchambers opened #160 "cond :: [Pair (a -> Boolean) (a -> b)] -> a -> b"
Similar to [`R.cond`][1] but stricter and simpler (see ramda/ramda#1673). I imagine `R.cond` is used with unary functions the vast majority of the time.

[1]: http://ramdajs.com/docs/#cond

[2016-03-02 22:25] benperez commented on #160
:+1: for type signatures
:-1: for mixed-arity lists of functions

[2016-03-05 05:33] Risto-Stevcev opened #162 "Proposal to add S.random"
Would you be interested in adding a helper function for a random number generator, `S.random`?

`Math.random` is limited in that you can't specify a range (it's `[0, 1)`), which is why Lodash and Underscore have their own implementation. It would be nice to have something like this in the library.

[2016-03-05 08:55] svozza commented on #162
Have you given any thought to how we can keep this function pure? Perhaps by accepting and returning a seed value for the next number.

[2016-03-05 09:29] Risto-Stevcev commented on #162
Yeah, a seed sounds like a good idea. It would also be nice is implementing `newStdGen` could include CSPRNG as an option also.

[2016-03-05 17:28] rjmk opened #163 "Curry-safe reduce?"
Is there space in sanctuary for a reduce-like function that calls the reducing function once on the accumulator and then the result on the current element? As it stands, Sanctuary, like in Ramda, doesn't work for manually curried functions.

[2016-03-05 19:14] davidchambers commented on #163
I like this proposal. Having higher-order functions operate on non-unary functions makes me uneasy. I'm open to the possibility of supporting both. For example:

[code]

`reduce` would support manually curried functions, `reduce_` would support true binary functions, and both would support functions curried Ramda-style.

If there's support for this approach I suggest we apply it throughout the lib

[2016-03-05 19:32] davidchambers commented on #162
Let's keep the discussion in one place: ramda/ramda#1677.

[2016-03-05 19:32] #162 closed

[2016-03-05 19:46] rjmk commented on #163
I would really like to see this! When I'm working, it more often occurs to me to use sanctuary so I can declutter and write a better pointfree definition than for the type-safety (not that I care more about pointfree than type-safety, it's just more salient)

[2016-03-05 22:08] davidchambers commented on #163
Here are the higher-order functions in question:

[code]

[2016-03-08 01:49] rjmk commented on #163
The combinators (`C`, `S`) and the `lift`s are already appropriately defined, so that only leaves the other 8

[2016-03-08 02:03] davidchambers commented on #163
Let's change the representation of `flip`'s first argument's type from `(a -> b -> c)` to `((a, b) -> c)` while we're at it.

[2016-03-09 17:42] davidchambers opened #165 "polymorphic functions cannot operate on "foreign" values"
#123 had one major unforeseen consequence.

To determine whether a value is a member of `Number`, say, sanctuary-def can ask `$.Number.test(x)`? To determine whether a value is a member of `a`, a type variable, sanctuary-def filters the set of types in the current environment to determine the set of types of which the value is a member, constraining `a`.

The problem is that Sanctuary provides a l

[2016-03-09 21:46] soroushjp commented on #165
I have also run into this same issue while working on a project with @davidchambers.

The proposed solution makes a lot of sense to me. Since the `@@type` property is the canonical source of truth about what the type of a given value is, this should work well.

Happy to test fix against the issue in our project once PR is opened to address this issue.

[2016-03-10 04:56] davidchambers commented on #165
I have a sanctuary-def patch to address this issue (see [`dc-foreign`][1]). I'll open a pull request for it in the near future. :)

[1]: https://github.com/plaid/sanctuary-def/commits/dc-foreign

[2016-03-16 09:26] krainboltgreene opened #167 "Switching from ramda.pipe to sanctuary.pipe causes errors when dealing with rx"
So I have a cycle.js project, I use ramda's `pipe`, things work fine:

<img width="1407" alt="screen shot 2016-03-16 at 2 21 51 am" src="https://cloud.githubusercontent.com/assets/334809/13807348/fdaff986-eb1d-11e5-9d04-5d94f2b16571.png">

Today I wrote a [PR that switches this project to using sanctuary](https://github.com/lacqueristas/www/pull/1/files), but ran into some really head scratching i

[2016-03-16 09:27] krainboltgreene commented on #167
By the way, not knowing where this was *actually* happening (ie, what pipe) was a super pain, but I'm not sure what to do about that exactly.

[2016-03-16 15:37] davidchambers commented on #167
First, I'm excited to see the reasons you listed in your pull request description. :)

Without looking closely at your code I can provide one guess as to what's going on. Consider:

[code]

Ramda is forgiving of "extra" arguments; Sanctuary is not.

I suggest importing both `R.pipe` and `S.pipe`, then updating call sites one by one. After updating all the call sites (and resolving any issues) the

[2016-03-16 17:32] krainboltgreene commented on #167
Wait, what? Why does Sanctuary behave this way? Why does ramda behave this way? Are you suggesting this isn't the "result":

[code]

And that instead this is what's happening:

[code]

Because that makes no sense.

[2016-03-16 17:56] kedashoe commented on #167
Hi @krainboltgreene, I believe this was the implication:
[code]
Sanctuary's [pipe](http://sanctuary.js.org/#pipe) takes 2 arguments, but 4 are being passed in. I'm not familiar with Rx, but it does look like this is probably what is happening:

https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/select.md

[2016-03-16 18:01] davidchambers commented on #167
@kedashoe beat me to the punch, but I'll post my comment anyway.

---

Let's take a step back.

[code]

So far so good. `Array#map`, though, is not so well behaved.

[code]

`S.pipe` thus receives four arguments: a list of functions, an element of the array, an index, and the array over which we're mapping.

[2016-03-16 18:03] krainboltgreene commented on #167
Hoooooly crap haha, wow. I had no idea. Okay, so I guess my "solution" here is to use `R.unary`?

[2016-03-16 18:07] davidchambers commented on #167
That's a workaround, yes. You could also mention this problem to the RxJS team. It would be great to have a ["lawful"][1] `map` method. :)

[1]: https://github.com/fantasyland/fantasy-land#functor

[2016-03-16 18:10] krainboltgreene commented on #167
Thanks so much for helping!

[2016-03-16 18:10] #167 closed

[2016-03-16 18:12] krainboltgreene commented on #167
For future me's out there, [Most.js doesn't suffer from this fate it looks like](https://github.com/cujojs/most/blob/master/docs/api.md#map).

[2016-03-16 18:26] kedashoe commented on #167
Neither does [flyd](https://github.com/paldepind/flyd/blob/master/flyd.js#L182) :smile: (from ramda contributor @paldepind)

[2016-03-16 18:45] svozza commented on #167
`Map` is a unary function in `Highland` too.

[2016-03-23 08:33] Avaq commented on #150
:information_source: I've started work on this.

[2016-03-23 09:36] davidchambers commented on #150
I love the idea of being able to do this:

[code]

If we're to do this, we should address #149 as well. :)

[2016-03-23 09:39] Avaq commented on #150
It's my intent. But since the two issues have been collecting dust I figured I'd get at the low hanging fruit first. I'll implement it using `TypeRep`, it can then be merged and it would clear the way for the type checking overhaul, which would then also affect `parseJson`.

[2016-04-11 00:37] #165 closed

[2016-04-13 17:03] #150 closed

[2016-04-13 17:50] davidchambers opened #177 "lawful lenses"
[`R.lensProp`][1] and [`R.lensIndex`][2] aren't quite lawful, as @scott-christopher explained in https://github.com/ramda/ramda/issues/1281#issuecomment-209444109.

Scott, have you any interest in working on Sanctuary equivalents of Ramda's lens functions, which would use the Maybe type where appropriate to satisfy the lens laws?

[1]: http://ramdajs.com/docs/#lensProp
[2]: http://ramdajs.com/docs

[2016-04-13 18:38] yotamDvir opened #178 "(pointfree) chain: Chain f => (a -> f a) -> f a -> f a"
I am missing the pointfree `chain` function in this library.

I have several functions of signature `Functor f => a -> f a`, which I would like to compose using `pipe`.
I have written the following conversion to pointfree of `chain` to allow this.

[code]

Now I can write

[code]

Maybe there is a different intended way of doing this with this library? If not, I think the simple `chain` function w

[2016-04-13 18:56] davidchambers commented on #178
I agree that this is a great idea! Ramda provides [`R.chain`][1], and I'd love Sanctuary to provide `S.chain`.

I don't think the implementation is quite as simple as `func => x => x.chain(func)`, since it would be nice to provide an implementation for Array (as Ramda does).

@svozza has been working on a `map` implementation in #142. We've encountered a few problems, but once we've resolved them

[2016-04-13 19:45] yotamDvir commented on #178
Oh yes you're right of course about the signature.

The implementation I suggested works for Chains in Sanctuary; and as for Arrays, the Ramda function is available. However, I read in #142 that you aim to lose that dependency in the future, in which case I agree `chain` should address Arrays as well.

[2016-04-13 19:57] davidchambers commented on #178
To clarify the relationship between Ramda and Sanctuary, Sanctuary is currently complementary to Ramda. At some point, though, Sanctuary will be an alternative to Ramda, providing much of the same functionality but with a different approach to handling type errors.

[2016-04-14 03:16] davidchambers commented on #149
Are you interested in working on these changes, @Avaq?

[2016-04-14 09:44] Avaq commented on #149
I am, but I haven't found the time yet. If I *do* start work on it I'll leave a notice. Until then you're free to pick it up instead, if you have the time. Let me know if you do. :)

[2016-04-15 05:13] davidchambers commented on #149
I'll leave this one for you. There are plenty of other issues to keep me occupied for the time being. :)

[2016-04-21 22:39] svozza opened #186 "Github Autosquash"
Should we enable this feature to save contributors constantly having to squash and rebase their commits into 1?

https://github.com/blog/2141-squash-your-commits

[2016-04-22 00:14] davidchambers commented on #186
I believe the feature is already enabled. I'm open to using it, but I don't think we should *force* squashing. It's rare, but there are occasions when a pull request should legitimately contain multiple atomic commits.

[2016-04-22 00:39] benperez commented on #186
The only downside to enabling but not requiring autosquashing is that the default option is still to create a merge commit. You have to click the tiny arrow in the merge button that appears when you're confirming. If we want to squash by default but sometimes allow merge commits then we could make squash the only option and enable merge commits in those special scenarios.

[2016-04-22 01:08] davidchambers commented on #186
Oh. It seems I misunderstood commit squashing. I didn't realize that it *also* avoids a merge commit. The merge commit is very useful, though, as it's the only way to get to a pull request from a commit log (as you are no doubt aware, Ben, from your work on :dromedary_camel:).

Can someone provide a link to a pull request squashed via the GitHub UI?

[2016-04-22 01:19] benperez commented on #186
So I just tested this feature in one of my personal projects. You can see an example of the result of doing an autosquash of a branch with 2 commits [here](https://github.com/benperez/chinese-poker/commit/7a3a697df02a5aeea344188183c8df706eed00ca). The PR number and link are actually both in the message of the single commit that's generated. I personally find this to be pretty clean looking.

[2016-04-22 16:55] davidchambers opened #188 "bring your own environment"
__Problem:__

[code]

If this is a case of array-as-list, a type error is appropriate. But perhaps it's a case of array-as-tuple?

sanctuary-def could—and should—provide `Pair a b` to support two-element arrays. The fact remains, though, that Sanctuary's environment cannot possibly include every type, as there are infinitely many.

__Solution:__

The user must have the ability to provide her own e

[2016-04-22 17:38] davidchambers opened #189 "maybeToNullable :: Maybe a -> Nullable a"
`S.fromMaybe(null, S.Just(42))` is a type error, since there is no type of which `null` and `42` are both members.

@Avaq and I have found ourselves adding this to our projects:

[code]

It seems reasonable to include this function in Sanctuary, as dealing with JSON at the edges of one's program is often a requirement. It would be nice to have the function defined in one place to save us all from

[2016-04-23 12:42] Avaq commented on #149
:information_source: I started working on this.

[2016-04-23 17:11] Avaq commented on #149
Oh! Of course! I could've just assigned myself. ;)

[2016-04-23 17:12] davidchambers commented on #149
No worries. I appreciated the `:information_source:` emoji. :)

[2016-04-23 17:15] #189 closed

[2016-04-24 20:21] svozza commented on #145
Something that was mentioned in the Gitter room was how this issue is a good gateway for people looking to contribute for the first time. It got me thinking that it might be cool to do what they do on the nodejs project and split some of this function list into individual issues and label them with the tag 'good first contribution' like [this](https://github.com/nodejs/node/issues?q=is%3Aissue+is%

[2016-04-24 20:26] davidchambers commented on #145
Great idea, Stefano!

[2016-04-24 20:58] svozza opened #194 "Add S.mean function"
Create a typesafe version of [R.mean](http://ramdajs.com/docs/#mean)

[2016-04-24 20:59] svozza opened #195 "Add S.median function"
Create a typesafe version of [R.median](http://ramdajs.com/docs/#median)

[2016-04-24 21:01] svozza opened #196 "Add S.reverse function"
Create a typesafe version of [R.reverse](http://ramdajs.com/docs/#reverse).

[2016-04-24 21:13] svozza opened #197 "Add S.prepend function"
Create a typesafe version of [R.prepend](http://ramdajs.com/docs/#prepend).

[2016-04-24 22:03] svozza opened #198 "Add S.range function"
Create a typesafe version of [R.range](http://ramdajs.com/docs/#range).

[2016-04-24 22:04] svozza opened #199 "Add S.modulo function"
Create a typesafe version of [R.modulo](http://ramdajs.com/docs/#modulo).

[2016-04-25 06:56] gilligan commented on #145
yeah these are totally `"low hanging fruits"` and I really like that suggestion Stefano ;)

[2016-04-26 00:30] davidchambers commented on #199
We do have [`S.Int.rem`][1] and [`S.Int.mod`][2]:

[code]

We could add [Integer][3] versions of the above to Sanctuary proper:

[code]

We'd want to define `$.NonZeroInteger` before doing so.

[1]: https://github.com/sanctuary-js/sanctuary-int/#rem
[2]: https://github.com/sanctuary-js/sanctuary-int/#mod
[3]: https://github.com/sanctuary-js/sanctuary-def/#integer

[2016-04-30 17:22] davidchambers opened #202 "v0.11.0 checklist"
- [x] implement Foldable for Either (#119)
  - [x] remove `.skip`s from #192 and merge pull request
  - [x] implement Traversable for Either (#120)
  - [x] merge #207
  - [x] add `S.prepend` (#197)
  - [x] allow a user to bring her own environment (#188)
  - [x] upgrade to `sanctuary-def@0.6.x` (#217)
  - [x] add `S.keys`, `S.values` and `S.pairs` (#214)
  - [x] add `S.trim` (#176)
  - [x] remove

[2016-04-30 17:23] davidchambers commented on #202
If I've missed anything you'd like to see included in the next release, please comment. :)

[2016-04-30 17:42] davidchambers opened #203 "eitherToMaybe :: Either a b -> Maybe b"
@kedashoe added [`maybeToEither`][1] in #76. It would be nice to provide a function for going in the other direction. The implementation is not complex, and already appears in the [test suite][2]:

[1]: http://sanctuary.js.org/#maybeToEither
[2]: https://github.com/sanctuary-js/sanctuary/blob/v0.10.0/test/index.js#L117-L118

[2016-05-01 00:15] #119 closed

[2016-05-03 21:40] rjmk opened #208 "Value coverage"
It's cool that Sanctuary has code-coverage, but I'm even keener on some sort of value coverage guarantee. Is there any interest in implementing property testing with something like [JSVerify](https://github.com/jsverify/jsverify)?

[2016-05-03 21:47] gilligan opened #209 "Idea: Create Pair Programming Videos"
**idea**:
My idea is to record pair programming sessions in which an experienced Sanctuary contributor pairs with a newcomer working on one of the [`good first contribution`](https://github.com/sanctuary-js/sanctuary/labels/good%20first%20contribution) tickets.

**modus operandi**:
The newcomer would do the coding with the experienced contributor helping out, answering questions.

**purpose**:
On

[2016-05-03 21:53] davidchambers commented on #209
I love this idea, Tobias! I look forward to my first pairing session. :)

[2016-05-03 22:56] davidchambers commented on #208
Absolutely! We've dipped our toes into property-based testing (#113, #121). I'd *love* to see more tests of this nature. :)

Have you any interest in writing some tests, @rjmk?

[2016-05-04 16:31] davidchambers opened #210 "write "getting started" guide"
As suggested by @riston on [Gitter][1].

[1]: https://gitter.im/sanctuary-js/sanctuary?at=572868750149d6bb04b82f54

[2016-05-04 16:37] davidchambers opened #211 "write about working with nested types"
As suggested by @bahmutov on [Gitter](https://gitter.im/sanctuary-js/sanctuary?at=572a1794474247a946a62e34).

An explanation of the transformations in [`concatFiles`](https://github.com/plaid/async-problem/blob/d15c4f8fb8170d733f00557da694616230db1d63/tasks.js#L28-L36) would be very helpful.

[2016-05-05 00:54] thurt commented on #210
After reading the summary/introduction, the full picture of where Sanctuary extends beyond Ramda is not entirely clear. Does it add new functions and/or just replace existing Ramda functions with type safe versions?

[2016-05-05 02:02] davidchambers commented on #210
Earlier today @dypsilon described Sanctuary as "a Ramda reboot". I had not thought of it this way, but it's an accurate description.

The two libraries have a great deal in common philosophically. Points of agreement:

  - "immutable" arguments;
  - currying (with placeholder support);
  - value-based equality;
  - naming; and
  - Fantasy Land compatibility.

The two libraries differ philosophical

[2016-05-05 13:39] Avaq commented on #202
Don't forget to write an upgrade guide! :)

[2016-05-05 14:18] dypsilon commented on #210
I was primarily talking about Ramda and Sanctuary in the context of working with types. I think Ramda does a great job of working with native data types. You could just drop Ramda in any project and have a great time working with those arrays and strings in a somewhat functional way.

On the other hand, Ramda is awkward for working with algebraic types as defined in Fantasy Land. This is the reaso

[2016-05-05 14:52] buzzdecafe commented on #210
@davidchambers i am coming around. my major problems with run-time type-checking are

1. i feel like it misses the point somehow; that you are missing the benefits of typing by waiting until run-time to try and enforce; and
2. more importantly, the problem is not personally interesting to me

But the benefits are clear, and I don't dispute that *something* is better than *nothing*.

[2016-05-05 17:27] davidchambers commented on #202
Good point, @Avaq. Added. :)

[2016-05-05 17:52] davidchambers commented on #210
I don't see it this way. I quite happily use `R.map` and `R.chain` with algebraic data types provided by Fluture, Folktale, and Sanctuary. I appreciate Ramda providing these functions irrespective of whether Ramda provides any algebraic data types.

I consider transducers the most significant source of complexity in Ramda's implementation. Having `R.map`, `R.chain`, etc. dispatch doesn't strike me

[2016-05-05 18:04] rjmk commented on #208
For sure! I guess I'll just pick a section of Sanctuary and dive in

[2016-05-05 18:14] davidchambers commented on #208
Sounds good! @svozza did some work on writing property-based tests for Ramda. I believe he'd suggest that you write tests for one property at a time, opening pull requests along the way. Writing tests for all the properties at once would be a big undertaking!

[2016-05-05 18:23] buzzdecafe commented on #210
i see the placeholder as the biggest offender. I agree that transducers add complexity, but they also pay off. The placeholder adds overhead to the most fundamental operation in the libarry and delivers nothing that you can't get with `flip`.

[2016-05-05 18:28] davidchambers commented on #210
I agree. Cost–benefit analysis is important. I believe the benefit of `R.map`, `R.chain`, etc. dispatching significantly outweighs the cost of doing so.

[2016-05-05 19:50] svozza commented on #208
I think you might be confusing me with @gilligan, David. Here's the PR you're referring too:

https://github.com/ramda/ramda/pull/1540

[2016-05-05 20:42] davidchambers commented on #208
You're absolutely right, Stefano! That explains why I couldn't find the pull request. Thanks for setting me straight. :)

[2016-05-06 13:45] buzzdecafe commented on #210
Yes, me too. The intent was to provide a point-free interface for FL types and look more ML-ish. I'm curious exactly what @dypsilon finds awkward?

[2016-05-07 02:21] CrossEye commented on #210
Perhaps it's time for Ramda to consider how to pull Transducers into a side package such as Fantasy and Lenses.

I'm not sure I go as far as that.  There all sorts of things that could be done with, say, `reduceBy` and the placeholder that cannot be done with `flip`.   Nonetheless, I would love to find a clean way to get rid of the placeholder and keep those abilities.  I no longer find it very co

[2016-05-07 17:36] thurt commented on #210
Here is a very simple comparison between Ramda/Sanctuary right now. It is at least helpful for me to visualize some of the function differences b/w the two libraries:
http://rawgit.com/thurt/ramda-sanctuary-compare/master/index.html

[2016-05-07 17:41] #197 closed

[2016-05-07 18:34] davidchambers commented on #210
That's a useful document, @thurt! Keep in mind that the shared functions are in same cases equivalent when used correctly (e.g. `trim`) but are in other cases significantly different (e.g. `head`). Regardless, this document provides a good indication of the overlap between the two libraries.

[2016-05-07 21:15] thurt commented on #210
True--comparing just by function name is like comparing apples-to-oranges in some cases. Looks like the `either` function is another example.

[2016-05-09 01:20] #120 closed

[2016-05-17 05:42] svozza commented on #202
I'd like to get `S.keys` and friends into this release, if possible.

[2016-05-17 05:52] davidchambers commented on #202
Sounds good, Stefano. I've added it to the checklist. :)

[2016-05-18 01:07] #203 closed

[2016-05-18 01:38] #199 closed

[2016-05-18 01:39] davidchambers commented on #157
Closing in favour of sanctuary-js/sanctuary-def#63.

[2016-05-18 01:39] #157 closed

[2016-05-23 06:04] davidchambers commented on #198
#218

[2016-05-23 06:04] #198 closed

[2016-05-26 17:23] davidchambers commented on #139
I just merged #221, which added `T`, so we now have all the combinators listed in the issue description other than `P` and `Y`. We may decide to add even more combinators at some point, but our current suite feels sufficient to close this issue. :)

[2016-05-26 17:23] #139 closed

[2016-05-27 16:43] #196 closed

[2016-05-27 17:55] #188 closed

[2016-05-31 07:34] davidchambers opened #227 "v0.11.1 release notes"
https://github.com/sanctuary-js/sanctuary/compare/v0.10.0...v0.11.1

Breaking changes:

  - :warning: `require('sanctuary').unchecked` is now written `require('sanctuary').create({…})` (#206)
  - :warning: `catMaybes` is now known as [`justs`](http://sanctuary.js.org/#justs) (#181)
  - :warning: `encase2` is now known as [`encase2_`](http://sanctuary.js.org/#encase2_) (#182)
  - :warning: `encase3

[2016-05-31 07:42] #202 closed

[2016-06-02 07:42] jgoux opened #228 "Add fromJust function to Maybe"
Hi,

I often need to extract a value from a Just, and I only dispose of `S.maybe` or `S.fromMaybe` which isn't exactly what I want.

The [Haskell's Data.Maybe](https://hackage.haskell.org/package/base-4.9.0.0/docs/Data-Maybe.html) has a `fromJust` function exactly for this purpose.

Could it be possible to add it to Sanctuary ?

[2016-06-02 08:32] davidchambers commented on #228
`fromJust` is a partial function, so I'd like to avoid it. We now have [`S.maybeToNullable`][1] which serves a similar role. The other option is to access the `value` property of the Just directly, though this is only safe to do if one first confirms that the value is in fact a Just.

I'm interested to know the situations in which you find yourself dealing with values of type `Maybe a` which you k

[2016-06-02 10:47] jgoux commented on #228
I have a function `queryOne` in my database library which returns a `Maybe a`.

As I execute a postgres sql statement using the `INSERT INTO ... RETURNING` syntax, I'm sure that if the query succeeds I'll have a result.

In fact this is one of the only place where I'd need `fromJust` after searching through my project. xD
So I'll use `S.maybeToNullable` which I wasn't aware of ! :+1:

Thanks. :100

[2016-06-02 10:47] #228 closed

[2016-06-02 16:36] davidchambers commented on #228
I'm pleased to learn that `S.maybeToNullable` is applicable, and that you only need it in one place. :)

[2016-06-07 18:51] #130 closed

[2016-06-08 23:26] wennergr opened #230 "Suggestions for adding more utility methods for Either"
First thanks for a good library.

Needed a few functions on `Either` that I'm used to have. Here below is a list of them.

More then happy submit a PR if these are features that can be useful for others.

_Not sure about the policy on `instance` vs (for lack of a better word) `static` functions_

 **Swap the values in an Either (2-complement)**
 `Either#swap :: Either a b ~> Either b a`

 **Return

[2016-06-09 01:27] davidchambers commented on #230
Thanks! It's a useful stepping stone between Ramda and PureScript. :)

Excellent!

The methods are purely for [Fantasy Land][1] compatibility. The idea is that one can use [`R.map`][2], [`R.chain`][3], etc.—and soon their Sanctuary equivalents—rather than invoke methods directly.

:thumbsup:

`b -> Boolean` needs to be parenthesized, I think.

`exists(pred, e)` is sugar for `either(K(false), pred,

[2016-06-09 03:43] wennergr commented on #230
Sure, fat fingered :)

I picked the `exists` / `forall` keyword because they are usually used to for `existential` and `universal` quantification.

For a foldable, I like the your idea of `all`. Maybe we can add:
`all :: Foldable f => (a -> Boolean) -> f a -> Boolean`
`any :: Foldable f => (a -> Boolean) -> f a -> Boolean`

Where:
 *  **all** would be folding on the Conjunction monoid (`true`, `an

[2016-06-09 07:55] davidchambers commented on #230
This sounds like something I should read about. :)

I really like the idea of `all` and `any`. They're generalized forms of their Ramda namesakes. We could consider defining `none` as well (as sugar for `not(any(pred, foldable))` or `all(complement(pred), foldable)`).

[2016-06-09 23:44] wennergr commented on #230
Sounds good. I will hopefully get some time to do a PR later tonight or tomorrow.

My plan was to implement `any`/`all` using `foldMap` + `Conjunction/Disjunction monoid`. I was however surprised to find out that Fantasy land does not consider `foldMap` as a basic building block for a foldable. (Something that I'm used to from Haskell or Scalaz).

Ref: https://hackage.haskell.org/package/base-4.9.

[2016-06-10 01:46] davidchambers commented on #230
Is the distinction that `foldMap` would allow us to "map" and "reduce" as a single operation?

Going from `(Foldable f, Functor f) => f a` to `(Foldable f, Functor f) => f Boolean` (via `map`) to `Boolean` (via `reduce`) sounds good – `all` and `any` would be compatible with existing data types.

`foldMap` seems useful, though. You could open a Fantasy Land issue for discussion.

[2016-06-25 10:54] svozza opened #233 "Support Native Map Type"
Someone recently commented on an old Ramda [issue](https://github.com/ramda/ramda/issues/1055) about supporting the native `Map` type and it got me thinking whether we should do so in Sanctuary. I'm not quite sure how that would look given that the `StrMap` type we have is more specific that the general JS type but I'm interested to hear everyone's thoughts.

[2016-06-27 04:25] davidchambers commented on #233
I like the idea of a `Map k v` type, but I'm not sure the built-in Map type makes sense in a world of value-based equality. Consider this example:

[code]

`Map k v` and `StrMap v` can happily coexist. In fact, `StrMap v` and `Map String v` are *conceptually* equivalent.

[2016-06-27 13:00] svozza commented on #233
Yes. I see what you mean. I guess one way to go would be to change our `StrMap` functions to also accept `Map String v` objects. Another would be to only support Maps that use primitive values as keys.

[2016-06-27 16:24] davidchambers commented on #233
I'm happy to leave the role of working with wonky JavaScript constructs to Ramda. It seems inevitable to me that we will eventually provide `sanctuary-list`, `sanctuary-map`, and `sanctuary-set` packages to provide "immutable" data structures with value-based equality semantics.

Friday will be my last day at Plaid. I then intend to be unemployed for three months while my girlfriend and I decide w

[2016-06-28 20:23] davidchambers commented on #194
Added by @jdudek in #234

[2016-06-28 20:23] #194 closed

[2016-07-03 23:56] davidchambers commented on #209
I'll close this issue as there's nothing to resolve.

If you're reading this and would like to arrange a pairing session, send me a message on Gitter and we'll find a day and time that suits us both. :)

[2016-07-03 23:56] #209 closed

[2016-07-04 21:44] kedashoe opened #235 "S.flip documentation"
This is true I guess, but pretty awkward..

`S.flip(R.curry((a, b, c) => a - b + c))(10, 5, 1)` [throws](http://goo.gl/2932bH)

`S.flip(R.curry((a, b, c) => a - b + c))(10, 5)(1)` //=> -4

not sure it is worth mentioning?

[2016-07-04 21:48] kedashoe opened #236 "S.liftX documentation"
Often in the docs we say something like "Takes a **curried** binary function..". The function given to `lift2` and `lift3` I think needs to be curried but this isn't mentioned.

[2016-07-04 23:46] #227 closed

[2016-07-04 23:58] davidchambers commented on #195
This is a bit trickier than it looks. We should accept any `(Foldable f, Ord a) => f a`. For example:

[code]

[2016-07-05 00:00] davidchambers commented on #163
Resolved by #182

[2016-07-05 00:00] #163 closed

[2016-07-05 00:18] davidchambers commented on #186
I've decided not to make use of this feature, for three reasons:

  - I like to avoid touching commits authored by other people;
  - were a "squashed" commit to fail CI the PR would appear to have been merged with failing tests; and
  - `master` would not be a superset of the feature branch post merge, which would break my workflow (merge via GitHub, `git checkout master`, `git pull origin master`

[2016-07-05 00:18] #186 closed

[2016-07-05 04:44] #235 closed

[2016-07-05 04:51] #236 closed

[2016-07-15 10:15] iliocatallo commented on #98
any news on this side?

[2016-07-15 12:16] joneshf commented on #230
I'd prefer `foldMap` to `reduce` as the method to implement, to be honest. But there's overhead involved in the change.

That's probably the best thing to do.

[2016-07-15 12:22] joneshf commented on #230
That's what `Traversable` is for. Though it's not limited to side-effects. It works with any `Applicative` effects. And since we can encapsulate side-effects as an `Applicative`, we can use `Traversable` stuff to do what you want.

[2016-07-18 00:46] davidchambers commented on #98
I think we should implement `Either#bimap` in accordance with fantasyland/fantasy-land#137:

[code]

I'm preparing to move to a different continent in a couple of days, but I should be able to devote significant time to Sanctuary once I'm in Europe. If you'd like to contribute a pull request for this addition, though, please do so. :)

[2016-08-06 13:52] JAForbes opened #241 "encase return Left/Nothing when null / undefined / NaN"
I'm finding that despite using encase, I'm still encountering nulls (they are pervasive in JS libraries).  Would it to possible to make encase even stricter, and return Left/Nothing if the result is null, undefined or NaN?

[2016-08-06 14:12] joneshf commented on #241
This suggest sounds sane from a consistency standpoint. We have `toMaybe` which does something like this null stuff. And `toMaybe` looks very similar to what an `encase0` would look like:

[code]

I think this sounds like a good idea, but I think others probably have a better idea of whether or not it actually is.

[2016-08-11 08:08] johannestroeger opened #243 "ramda 0.22.1?"

[2016-08-12 09:46] #243 closed

[2016-08-19 09:22] mrtnbroder opened #246 "support esnext module format for tree-shaking purposes"
It would be great if sanctuary could introduce a esnext version to support tree-shaking and a more modular approach.

[2016-08-19 09:26] davidchambers commented on #246
I'm aware that this is possible, but I don't know any of the details. Can you recommend a resource for learning about this, @mrtnbroder?

[2016-08-19 09:34] mrtnbroder commented on #246
If you want, I could give this a shot myself. It's actually not that 'hard' to do, just tedious. But the effort is worth it.

Actually, it's just looking at the modularity of your project and splitting parts of them into their own file/section, so one could `import maybe from 'sanctuary/lib/maybe` directly as an example.

It's a bit cumbersome to do this in es5 syntax, so I'd probably go the way o

[2016-08-19 09:36] mrtnbroder commented on #246
Take a look at https://github.com/reactjs/react-router for a pretty good example of how this can be done, @davidchambers !

[2016-08-19 10:03] rjmk commented on #246
@mrtnbroder I may well be wrong on this, but is it true that

a) It's as easy to split the file up and do `require('sanctuary/maybe')` in commonJS
and b) It's not necessary to split the file up to get the benefits of tree-shaking, but rather the move to the static `export`s of ES6 is what does the work?

My understanding is that splitting into files and doing the `require('sanctuary/maybe')` allow

[2016-08-19 10:07] davidchambers commented on #246
I do :heart: the lack of any build step in this project, but I do appreciate the advantage this change would provide.

I'd love to see a proof of concept. Perhaps you could put together a patch to show this working for a handful of functions.

This is all new to me, @rjmk, but I'm very interested to know whether your understanding is correct.

[2016-08-19 10:08] rjmk commented on #246
@davidchambers I'd like to echo your sentiments on the lack of build step

[2016-08-19 10:16] mrtnbroder commented on #246
Correct. It just requires the `export` syntax.

@davidchambers whats wrong with a build step? It doesn't necessarily require a build tool like gulp or something. Babel would be enough to compile to ES5. It's a one-liner in the package.json file.

Alright then, let me see if I can provide a simple patch. Will take a bit though, I am a bit busy atm ;)

[2016-08-19 10:43] davidchambers commented on #246
One can make things reasonably pleasant. Let's say one's using Make. One can have `make test` run `make` to ensure that one's tests always run against the latest build. But perhaps the tests are slow to run (as they are in Sanctuary's case). One may then wish to run

[code]

to test a specific change. One may be surprised that the tests are still failing. Oh, we forgot to include `make &&` at the

[2016-08-19 11:16] mrtnbroder commented on #246
usually you add any build output to the `.gitignore` so people change the source and not the output code. You only get the output code when you `npm install` the package.

[2016-08-19 11:18] mrtnbroder commented on #246
Also, you can just `export { all, these, tasty, functions }` at the `index.js` so you can import everything from the `index.js` file. One should actually never explicitly import a function that was intended to be private to the lib from the source directory, only from the public api.

[2016-08-20 02:04] rachidbch opened #247 "Applying an Either in a Pipe throws an error"
Hi as i'm new to sanctuary, i may be missing something obvious but i can't find any reason why those two statements should not give same results:

[code]
first statement gives `Right(2)` as expected but second statement throws following error:

[code]
Same behaviour with Maybe/Just instead of Either/Right ...

[2016-08-20 04:38] kedashoe commented on #247
Hello @rachidbch, I believe your second expression is losing context. http://goo.gl/CydmDB

[2016-08-20 11:39] rachidbch commented on #247
my bad :( Thanks @kedashoe !

[2016-08-20 11:39] #247 closed

[2016-08-21 22:40] davidchambers commented on #247
It's worth noting, @rachidbch, that the methods that exist on `S.{Either,Maybe}.prototype` provide [Fantasy Land][1] compatibility. They are not intended to be invoked directly. Instead, they are intended to be invoked by dispatching functions such as [`R.ap`][2] and, soon, [`S.ap`][3].

[code]

[1]: https://github.com/fantasyland/fantasy-land
[2]: http://ramdajs.com/docs/#ap
[3]: https://github.c

[2016-08-29 12:32] davidchambers commented on #241
I'm of the opinion that exceptions and "bogus" values should be handled separately for maximum flexibility and ease of understanding. Consider the following functions:

[code]

We can create safe versions of these functions using [`encase`][1], [`toMaybe`][2], or both:

[code]

From the definition of `hʹ` we can infer that `h` may raise an exception or return `null`/`undefined`. Were we to provide

[2016-08-29 12:54] JAForbes commented on #241
@davidchambers your point is compelling! :)

But I think I disagree.  I think `S.encase(JSON.parse, 'null')` should evaluate to `Nothing`
Functions that legitimately return null are probably attempting to signal something semantically equivalent to `Nothing` anyway.

I am all for composing granular functions though.  Maybe I am not considering some genuine use cases for null?

But I do like your c

[2016-08-29 13:19] davidchambers commented on #241
Absolutely. `toMaybe` is useful in these cases.

`JSON.parse('null')` is not one of these cases, though. `JSON.parse` throws if applied to a string which is not valid JSON, but `'null'` *is* valid:

[code]

Admittedly, `null` is unlikely to be the result we're hoping to see. In order to make the result well typed we would need to filter it. This is the reason [`parseJson`][1] takes a type represen

[2016-08-29 13:19] #241 closed

[2016-08-29 18:39] rickmed commented on #246
:+1: this!

[2016-08-30 09:37] mrtnbroder commented on #246
I'm on it!

<img width="197" alt="screen shot 2016-08-30 at 11 37 17" src="https://cloud.githubusercontent.com/assets/1118826/18084046/1394128a-6ea6-11e6-983d-468beadd9df6.png">

[2016-08-30 16:17] mrtnbroder commented on #246
Almost done 😍

[2016-08-31 00:04] mrtnbroder commented on #246
I have one major problem with the `create` function though @davidchambers I'm not sure how to support it now where everything could be imported directly via `import { T } from './sanctuary'`, where `T` and everything else is already defined by a default `def` function

One idea that comes into mind is that the `checkTypes` prop will depend on the `NODE_ENV` being either `production` or not. So typ

[2016-09-01 10:46] davidchambers commented on #246
The `require('sanctuary')` module is never modified: `S.create` returns a *new* Sanctuary module which has access to an environment via its closure. There's no pollution.

Ideally Sanctuary would not require knowledge of one's types, but #188 demonstrates that it does.

Many Sanctuary functions are polymorphic. Take [`concat :: Semigroup a => a -> a -> a`][1], for example. How is it that we're abl

[2016-09-01 12:36] rjmk commented on #246
If we want tree-shaking and to play nicely with type checking, I think we would have to have an API change.

One could imagine that either (a) all the functions need to have an env passed into them or (b) `create` also took the set of functions it was to produce (this would be compatible with (a), it would just apply them to the environment)).

Then one would *need* an internal Sanctuary file, whe

[2016-09-01 13:20] mrtnbroder commented on #246
Why does `sanctuary` expose `sanctuary-def`'s create anyway? I'm strictly about separating these from `sanctuary`. You should `import { create } from 'sanctuary-def'` and not from `sanctuary` imho.

[2016-09-01 13:41] rjmk commented on #246
One could imagine Sanctuary taking in a `def` defined by the user with `sanctuary-def`. It could then use that throughout, but it still wouldn't support treeshaking (I think -- it would only be exporting the one monolithic function).

It could export all the functions with them waiting for a `def`. Then one would presumably do something like

[code]

This might be a bit annoying when you're using

[2016-09-01 20:33] davidchambers commented on #83
Sounds good, @rjmk. :)

[2016-09-01 21:35] davidchambers commented on #246
sanctuary-js/sanctuary-def#74 is highly relevant to this discussion.

I don't think this would work. Here are two relevant snippets from Sanctuary's source:

`S.I` is defined via `def`, which is turn depends on `opts`, which specifies an environment. After defining `S.I` there's currently no way to retroactively "inject" types into its environment, so `S.I` is only able to operate on values of typ

[2016-09-01 21:39] svozza commented on #246
That seems very invasive; I'm not against modularisation but this treeshaking stuff seems to spiralling out of control, I'd rather leave things as they are than go with any of the solutions proposed so far.

[2016-09-01 22:29] rjmk commented on #246
@svozza I definitely agree treeshaking is not a good enough reason to do this. It seems to me something like this is definitely worth exploring though for composable environments and good dependency management. Creating extension environments with which one can extend the default environment is definitely possible, but it's hard to create functions which depend on a given environment while keeping

[2016-09-02 00:33] rjmk opened #248 "Document required node version in `CONTRIBUTING.md`"
The doctest for

[code]

will break as `JSON.parse`'s error message changed at some point between node 4 and node 6 to "Unexpected end of JSON input"

We should document which node versions can be used by people developing the library

[2016-09-02 16:57] #83 closed

[2016-09-03 08:08] davidchambers opened #252 "mention Fantasy Land in readme"
We link to the [Fantasy Land spec](https://github.com/fantasyland/fantasy-land) in several places. It would be nice to include a section introducing Fantasy Land, explaining Sanctuary's relationship with it, and mentioning that the methods Sanctuary defines are for Fantasy Land compatibility and are not intended for direct use.

[2016-09-03 15:09] rjmk opened #253 "S.match"
I have a couple of quibbles with `S.match`

This is correct, but maybe a bit misleading? One might be therefore tempted to think that a `Just String` represents a matched optional capturing group, whereas it represents a matched capturing group (not necessarily optional)

The second quibble is that I think the API should be `RegExp -> String -> Maybe (Array (Maybe String), String)`

I realise it's

[2016-09-04 16:36] davidchambers commented on #253
It's unfortunate that the *possibility* of optional capturing groups forces this function to have a more complex type than one would like when dealing with patterns with no optional capturing groups. The only way I can see to get around this is to introduce `$.RegExpWithoutOptionalCapturingGroups` and update the type of `match` to use it. The type's predicate would need to parse a regular expressi

[2016-09-04 17:09] rjmk commented on #253
Agreed! (The alternative would be to have the function be dependent lay typed ;)). I was just wondering if the docs could do with a tweak. Perhaps they're OK as they are though.

Yeah!

No, I have no problem with the return values of the problem. My issue is the fact that there are values that inhabit the return type that don't make sense. The simplest example is Just ([ Nothing ]). This represent

[2016-09-04 17:51] davidchambers commented on #253
Ah, yes! I didn't think it was possible to have `match` return `Just([Nothing])`—which is why the return values in my examples were different—but that's your very point. While writing my previous comment I realized (perhaps not for the first time) that the array contains one or more values of type `Maybe String`, _the first of which will never be `Nothing`_. This bothered me, and led to my excitem

[2016-09-05 00:00] rjmk commented on #253
Me too! My order was entirely based on misremembering how `S.match` works -- I thought the full match was last.

The only other thing to consider is whether a record is better?

[code]

[2016-09-05 15:03] davidchambers commented on #253
A record would be clearer. I'm now wondering whether the return value should have additional fields. In addition to the captured substrings, a [Python match object][1] contains the regular expression, the entire string (not just the matching portion), and start and end indexes. I don't think we should go this far, but if we're to make an API change we have a good opportunity to rethink the return

[2016-09-05 17:56] rachidbch commented on #247
hey @davidchambers,

Sorry didn't see your comment. Thanks for the good advice.

[2016-09-06 23:19] rjmk commented on #160
Do we prefer `Pair (a -> Boolean) (a -> b)` or `a -> Maybe b`?

[2016-09-07 04:26] kedashoe commented on #160
It seems like we might already have defined all the functions we would need to create the conditions to build the `Pair` signature, while with `a -> Maybe b` we would often just be running our same `a -> Boolean` test behind the scenes and than wrapping `b` in a `Just` if it passes.

On the other hand I hope I am missing something cause that is a nice signature :)

Having written that out, maybe `

[2016-09-07 15:42] rjmk commented on #160
Yeah there are some cases where we'll return the `Maybe` directly (e.g. `S.head`), and it could also be more efficient in some cases. But there are lots of questions when we'll have Boolean producing functions. And I think is more of a Boolean handling function. Not least because I think one is probably better off wrapping results in sum types and folding them (e.g. `maybe`, `either`) than using `

[2016-09-08 15:53] davidchambers commented on #247
You're welcome, @rachidbch. :)

[2016-09-08 16:11] davidchambers commented on #160
The latter is very elegant! You're right, though, that one could instead apply all the functions and fold. At that point the only advantage of `cond` is that it would avoid unnecessary computation.

Perhaps we should not add `cond` at all. I don't use `R.cond` very often.

[2016-09-08 22:52] rjmk commented on #160
I wasn't thinking so much of applying all the functions, but rather `cond` seems to be frequently be used as ersatz pattern matching. But I prefer folds to pattern matching anyway, so I would probably just fold

[2016-09-08 22:55] #160 closed

[2016-09-08 23:06] davidchambers commented on #248
How do you feel about this now that #250 has been merged, @rjmk?

[2016-09-08 23:22] rjmk commented on #248
Much better solution!

[2016-09-08 23:22] #248 closed

[2016-09-11 01:13] tycho01 opened #254 "TS typings?"
Gitter:

I was thinking it might be useful to put this out here, so we could consolidate questions/issues  and perhaps check for solutions with the TS team.

Potentially relevant:
* [TsMonad](https://github.com/cbowdon/TsMonad)
* SO: [functor in typescript](http://stackoverflow.com/questions/32970061/functor-in-typescript)

[2016-09-14 02:28] davidchambers opened #255 "v0.12.0 checklist"
- [x] expand documentation of type signatures and fix inconsistencies (#259)
- [x] list: remove ArrayLike type class (#263)
- [x] list: make the List type constructor simpler and more restrictive (#264)
- [x] merge sanctuary-js/sanctuary-def#82
- [x] merge sanctuary-js/sanctuary-site#13
- [x] complete, review, and merge sanctuary-js/sanctuary-type-classes#2
- [x] publish `sanctuary-type-classes@0.

[2016-09-16 10:20] davidchambers commented on #254
I'm very interested to see this. It's not something I plan to work on at this stage as I'm focused on the existing modules (`sanctuary`, `sanctuary-def`, and the nascent `sanctuary-type-classes`). I'm happy to be involved in the exploration if someone would like to lead it. :)

[2016-09-18 13:52] davidchambers commented on #233
I posted a question on Stack Overflow: [Custom equality semantics for Immutable.js data structures][1]. After writing the post I'm almost convinced we could get our desired behaviour by wrapping the native Map type. It could look something like this:

    Map k v = { negativeZero :: Maybe v
              , value :: NativeMap k v
              , fantasy-land/equals :: Map k v ~> Map k v -> Boolean

[2016-09-18 16:36] davidchambers commented on #145
I'll close this issue. We've added many of the important functions, and #216 will add a handful more. Don't hesitate to open an issue if there's a particular Ramda function you'd like sanctified. :)

[2016-09-18 16:36] #145 closed

[2016-09-18 23:33] scott-christopher commented on #233
The only issue I see is that we would probably want to treat it as an immutable structure, which will end up with a bunch of instance cloning to work around the underlying mutable structure.

I've a got a bit of time free over the next week or two and was already looking at implementing some persistent Map and Set types to get a better understanding of a paper I saw recently, so providing that goe

[2016-09-18 23:53] davidchambers commented on #233
There's most definitely interest! :)

We get into all sorts of trouble treating arrays as sets in Ramda. Once we have access to a Set type we'll be able to define clean versions of functions such as `keys`, `values`, and `intersection`.

[2016-09-21 10:06] davidchambers commented on #246
@mrtnbroder, perhaps you could open a pull request for the changes you have made so far? Don't worry if there are failing tests and whatnot.

[2016-09-22 09:50] mrtnbroder commented on #246
@davidchambers will do so asap. Need to refactor the commits a bit.

[2016-09-23 08:58] davidchambers opened #257 "Fantasy Land method aliases"
There are several related questions which must be answered before we can merge #216. Discussing these in a dedicated thread seems wise, as that pull request is very large.

Currently we provide Maybe and Either types compatible with the Fantasy Land spec prior to the merging of fantasyland/fantasy-land#146. In #216 we're adding support for the prefixed method names. Should we continue to expose me

[2016-09-23 13:45] safareli commented on #257
How I see this is that we could just document normal non namespaced functions and state somewhere which FL interfaces the structure conforms to. About tests if `a.map === a[fl.map]` and if one is tested then other one is tested too as thay are same so why do we need to write more tests. or at least we would not need to write too many tests. maybe just check if structure implements some FL method i

[2016-09-23 14:43] davidchambers commented on #257
Absolutely. In fact, I have `eq(x[methodName], x[FantasyLand[methodName]]);` in the test suite right now, so testing all the aliases requires just one line of code. The documentation is more of an issue.

I agree that we should consider the prefixed methods private. There are *still* two ways to do it, though: `maybe.map(f)` and `S.map(f, maybe)`. I worry that documenting the former will make new

[2016-09-23 14:55] safareli commented on #257
so `Maybe#map` and `Maybe#fantasy-land/map` would not be typechecked?

[2016-09-23 15:07] davidchambers commented on #257
That's the current situation in #216, yes. Paying the cost of type checking twice—once in `S.map` and once in `Maybe#fantasy-land/map`—doesn't seem fair.

Do you think the methods should be type checked? I'm not convinced that it was correct to remove the type checking.

[2016-09-23 16:33] Bradcomp commented on #257
## Aliasing

__Pros__

:+1:

:-1:

__Cons__

:ok_hand:

I recently started a new project and was evaluating which libraries to use for functional tools and types.  I like Sanctuary because it is _much_ more opinionated than Ramda in various areas (type safety and variadic functions to name two).  For that reason I am all for deprecating the non-prefaced versions of the methods.  Sanctuary makes it

[2016-09-23 20:05] Koleok commented on #208
This is slightly off topic, but i want to bounce this idea. I have been using both `sanctuary` and `jsverify` a lot in tandem, and i feel like there is an opportunity for an adapter module that just declares all the obvious relationships between sanctuary's `types` and jsverify's `arbs`.

This way you only have to specify the expression for each `property` and not re-state the signature defined wi

[2016-09-23 20:53] davidchambers commented on #208
That's a very cool idea, @Koleok! I'd love to see such a module.

[2016-09-24 23:50] davidchambers commented on #257
Thank you both for your thoughtful feedback.

I intend to do the following:

  - __Add prefixes to the documentation of the methods.__ We'll document `Maybe#fantasy-land/map`, for example, rather than `Maybe#map`.

  - __Update the code examples to use `S` functions.__ The doctests for `Maybe#fantasy-land/map`, for example, will feature `S.map` rather than direct method invocations.

  - __Leave t

[2016-09-25 02:44] tycho01 commented on #254
Edit: some complications have been listed out by Isiah Meadows [here](https://esdiscuss.org/topic/es8-proposal-optional-static-typing#content-8):

[2016-09-26 00:37] davidchambers opened #260 "function similar to Python's re.findall"
_Parsing HTML with regular expressions is usually a bad idea. I believe there are other uses for this function, though._

---

Assume we wish to generate a table of contents for a neatly formatted HTML document. In order to do so we'd like to find all occurrences of `<(h[1-6]) id="([^"]*)">([^<]*)</\1>` to produce a value of type `Array (Array String)`.

In Python this is easy thanks to [`re.finda

[2016-09-27 17:22] davidchambers commented on #156
Now that we have sanctuary-js/sanctuary-site#13 I don't think it's necessary to update the readme as well. The nice thing about having the readme on GitHub is that it provides documentation for Sanctuary versions prior to the current one. The [website][1] is the best place to learn about the current Sanctuary version, though, as it has interactive usage examples. :)

[1]: https://sanctuary.js.org/

[2016-09-27 17:22] #156 closed

[2016-09-28 05:42] kedashoe commented on #253
:+1: for a record. I don't think it is necessary to add more fields at this point. Using a record will also make it easier to add more fields later if we ever wanted to with very little friction.

[2016-09-28 07:46] davidchambers commented on #253
Would you like to submit a pull request for this change, @rjmk? `groups` may be a better name than `captures` for the second field, but this is something we could discuss in the pull request.

[2016-09-28 18:38] mrtnbroder commented on #246
Sorry about the delay, much work, wow, not much time.

just wanted to inform you that I did not forget about it!

[2016-09-28 23:07] davidchambers commented on #246
No problem, @mrtnbroder.

With at least two significant pull requests soon to be merged I just want to make sure you don't spend many hours on this only to find yourself with dozens of merge conflicts only a week later.

By the way, I'll be living in Berlin from tomorrow. If you'd like to get together one day to work on this (or anything else) in person, contact me via email or Gitter. :)

[2016-10-01 10:26] davidchambers opened #262 "ADTs defined using S functions are compatible only with types known to S"
In resolving conflicts between #216 and #232 I discovered a problem. Consider this example:

[code]

Seems fine, doesn't it? Yes, but for the fact that by using `S.map` we're limiting the types with which this method is compatible to the types known to `S`.

This is very much related to sanctuary-js/sanctuary-def#74.

As things stand, I see two workarounds:
- use `S.create({checkTypes: false, env:

[2016-10-19 19:23] davidchambers opened #265 "use Yarn"
npm is a piece of software which is quite possibly beyond repair. [Yarn](https://code.facebook.com/posts/1840075619545360) strikes me as a well-considered, sane piece of software. I :heart: that `yarn` is deterministic, whereas `npm install` can produce different directory structures given different starting states.

I can think of three ways to use Yarn:
- have `make setup` run `npm install yarn`

[2016-10-19 22:10] kedashoe commented on #265
Nice! I like option 2, there are many ways a user could install yarn, wouldn't want to presume they prefer `npm install yarn`

[2016-10-19 23:41] EvanBurchard commented on #265
+1 for option 2.

[2016-10-20 00:04] davidchambers commented on #265
Two votes for option 2 is good enough for me. :)

Just to be clear, none of the options would require Yarn to be installed globally in a certain place. The first option would use npm to install Yarn locally (i.e. at __node_modules/.bin/yarn__). The third option would let the user specify a path to `npm`/`yarn`.

I like option 2, though. I'll see what's involved in getting it to work with CircleCI.

[2016-10-20 01:06] davidchambers commented on #265
I played around with this but didn't have much luck. I'll revisit this if and when this [feature request][1] becomes a reality.

[1]: https://discuss.circleci.com/t/preinstall-yarn/7353

[2016-10-20 19:11] hkrutzer commented on #265
https://yarnpkg.com/en/docs/install-ci didn't work?

[2016-10-21 13:21] Avaq commented on #265
It looks like `yarn` is quite similar to [`ied`](https://github.com/alexanderGugel/ied). Ied is a [Nix](https://nixos.org/nix/)-inspired package manager for NodeJS which has worked quite well for me. It seems to have all the same guarantees as `yarn`, and creates a completely flat structure using symlinks. However, it has no support for committing any kind of caches.

[2016-10-22 23:38] davidchambers commented on #265
That's right. The problem is that Yarn uses language features only available in recent Node versions:

We want to run the test suite against several Node versions in parallel. Testing on Node v0.10.x is a low-tech way of ensuring we restrict ourselves to language features supported by all the browsers.

Thanks for reminding me about ied, Aldwin. I'll take it for a spin! :lollipop:

[1]: https://gi

[2016-10-23 14:47] davidchambers commented on #233
@scott-christopher, I created [sanctuary-js/sanctuary-map][1] and [sanctuary-js/sanctuary-set][2]. You're welcome to work on a feature branch of one of these repositories.

[1]: https://github.com/sanctuary-js/sanctuary-map
[2]: https://github.com/sanctuary-js/sanctuary-set

[2016-10-23 14:47] #233 closed

[2016-10-24 12:48] scott-christopher commented on #233
I've pushed some code to https://github.com/sanctuary-js/sanctuary-set/tree/pre-0.0.1 which contains an initial pass of implementing two variants of immutable sets, one based on balanced AVL trees and the other is specialised for Int32 values using Patricia tries. It is severely lacking in documentation and the code could do with a good clean-up and sanity check, though I figured it would be good

[2016-11-01 16:56] zhangchiqing opened #269 "S.apFirst and S.apSecond"
Does it make sense to provide the following two functions?

S.maybeFirst returns the first Maybe value only if both arguments are Just, otherwise return Nothing.

[code]

S.maybeSecond returns the second Maybe value only if both arguments are Just, otherwise return Nothing.
[code]

Or the above functions can be made by composing existing sanctuary functions? Please advice :)

[2016-11-01 20:51] safareli commented on #269
[code]

[2016-11-01 20:55] zhangchiqing commented on #269
Thanks for the trick @safareli

[2016-11-01 21:48] davidchambers commented on #269
Very nice, @safareli. We can even replace `a => _ => a` with `K`, and `_ => a => a` with `K(I)`:

[code]

[2016-11-01 22:33] safareli commented on #269
also they would work on any applicative Either, Future ...

[2016-11-02 02:04] joneshf commented on #269
As @safareli points out, `maybeFirst` and `maybeSecond` are `(<*)` and `(*>)` respectively. I don't know if that already exists in the sanctuary ecosystem, but it'd be great to have.

[2016-11-02 05:39] scott-christopher commented on #269
Only if we can call them `S.icecreamL` and `S.icecreamR`. In all seriousness though, these would be useful additions.

[2016-11-02 23:54] davidchambers commented on #269
:icecream:

[2016-11-02 23:57] davidchambers commented on #269
Do `(<*)` and `(*>)` go by other names? Valid JavaScript identifiers would be nice. ;)

[2016-11-03 00:10] scott-christopher commented on #269
They go by the name of [`applyFirst`](https://pursuit.purescript.org/packages/purescript-prelude/1.1.0/docs/Control.Apply#v:applyFirst) and [`applySecond`](https://pursuit.purescript.org/packages/purescript-prelude/1.1.0/docs/Control.Apply#v:applySecond) in PS, so perhaps `apFirst`/`apSecond` or `apL`/`apR`?

[2016-11-03 00:12] davidchambers commented on #269
Thanks, Scott. `apFirst` and `apSecond` sound very good to me. :)

[2016-11-03 04:48] safareli commented on #269
apFirst apSecond sounds good, we could also add same for '>>' and '<<' as chain.... Maybe they could be decleared in s-type-classes?

[2016-11-07 07:30] mnn commented on #254
Oh, that's unfortunate. I was quite excited about this library. Sadly, without (even bad) typings I cannot use it (employer won't pay me for writing typings). :cry:

[2016-11-07 09:27] davidchambers commented on #254
@mnn, I bet others would contribute if you were to start writing the TypeScript type definitions. :smile:

[2016-11-07 20:10] mnn commented on #254
Well, I am pretty sure I am not an ideal candidate - started learning TypeScript very recently and my knowledge of Sanctuary is limited to a brief browsing of your docs. :expressionless:

But I'll try! :smile: Started working on it over there - https://github.com/mnn/typings-sanctuary.

[2016-11-07 20:13] davidchambers commented on #254
That looks like a good start, @mnn!

[2016-11-08 00:02] zhangchiqing commented on #269
Added in https://github.com/sanctuary-js/sanctuary-type-classes/pull/11

[2016-11-08 00:02] #269 closed

[2016-11-10 23:23] davidchambers opened #277 "curry2 :: ((a, b) -> c) -> a -> b -> c"
Now that Sanctuary is close to being an alternative to Ramda rather than a library intended to be used alongside it, we should consider which Ramda functions we would miss were we to remove Ramda from our projects. [`R.curry`][1] and [`R.curryN`][2] are certainly important functions. [`def`][3] performs currying, of course, but not every project which depends on Sanctuary also depends on sanctuary

[2016-11-10 23:48] EvanBurchard commented on #277
+1 on currying, generally.

My 2 cents:
I think a generalized ```curry``` function is nice though. Otherwise, the currying call is tied to the function signature. So that means an extra step in refactoring, as well as complicating the desire to curry all of the functions in this list/object/whatever. If I get an object from somewhere else that doesn't have curried functions, I need to check the ar

[2016-11-11 00:13] davidchambers commented on #277
Thanks for the feedback, @EvanBurchard.

In my experience blindly currying all the functions provided by a foreign module is not the best approach. It's likely that one of the following will apply to at least one of the functions:

  - the argument order is not ideal for partial application;
  - the function returns a value of type `Nullable a` but we'd like to return a value of type `Maybe a`;

[2016-11-11 00:26] davidchambers opened #278 "meld :: [** -> *] -> (* -> * -> ... -> *)"
[`meld`][1] and [`pipe`][2] are the two functions in the library with ridiculous type signatures. I'd like to be able to remove both functions, but `pipe` is incredibly useful. `meld`, on the other hand, is a function I've only used a handful of times (each time I was excited to have found a use for the function, but functions should not exist solely to challenge us to find ways to include them in

[2016-11-11 12:14] rjmk commented on #277
The big issue for me is not so much the behaviour of Ramda's curry function, but the behaviour of the functions it produces. I find them nearly impossible to work with.

I would much rather work with an uncurried function and lose some pointfree, than a function curried Ramda-style. I prefer Haskell-style currying to either, of course, but some find the look of `f(x)(y)(z)` unbearable.

On the sig

[2016-11-11 12:27] davidchambers commented on #277
I'd love to know more about your issues.

Noted. I'm going to take quite a bit of convincing, particularly since we took the "unprincipled" path with [`encase`][1] and [`encaseEither`][2] and found it to be less convenient than we had imagined (#103).

Do we? The signature of [`unfoldr`][3] features `Pair a b`:

[1]: https://sanctuary.js.org/#encase
[2]: https://sanctuary.js.org/#encaseEither
[3]:

[2016-11-11 13:38] rjmk commented on #277
If I misapply a Ramda-style function so it receives too many arguments (normally as a result of a higher order function (especially array methods, but also well formed higher order functions)), I get very unexpected behaviour.

Fair enough. I do quite a lot of the lambda wrapping mentioned in that issue nowadays, so perhaps I have a slightly different opinion on what's painful to others.

Oops. My

[2016-11-11 14:03] davidchambers commented on #277
Ah, I see! This would not be a problem with `curry2` and friends. Since `curry2` would be a ternary function defined via `def`, the result of `curry2(f)` would be a curried binary function which would throw if applied to more than two arguments (assuming `checkTypes` is bound to `true` for `def`).

Does this ease your concern?

[2016-11-11 15:29] rjmk commented on #277
A fair bit! It's been a while since I've had a chance to use Sanctuary. I forgot how wonderful it is[1]. In the (somewhat unlikely case) that I accidentally apply a function to additional arguments of the correct type (perhaps variable types), I'm not sure whether that will be able to help?

[1]: I'm actually doing a talk on error-handling soon largely informed by Sanctuary's helpfulness

[2016-11-11 19:59] davidchambers commented on #277
The first thing sanctuary-def does is check `arguments.length`. Consider this example:

[code]

Excellent! Please post your slides in Gitter after the talk (if you make slides).

[2016-11-11 23:14] Bradcomp commented on #277
Is there an issue with a general `curryN` and `liftN` that I'm missing?  They seem to be very helpful functions, and they aren't variadic. I guess the return types aren't really well defined without using dependent types or something like that though.

Especially with `curry`, I do find myself currying functions with 4 parameters or more on occasion, though not too often.  For me, the benefit of c

[2016-11-12 03:35] EvanBurchard commented on #277
Something I want to point out here is if it is a goal to have "sanctuary as replacement for lodash/ramda," there's a bit more momentum for a general ```curry``` function than just in those libraries. Specifically, these resources cover currying without specifying arity in the function name:

https://drboolean.gitbooks.io/mostly-adequate-guide/content/ch4.html#cant-live-if-livin-is-without-you

htt

[2016-11-12 12:36] rjmk commented on #277
Let me tweak that example slightly to show my issue.

[code]

Here we'll get an `f is not a function` error. Though this happened because of using an array method, it can happen by using combinators wrong.

[2016-11-13 11:22] davidchambers commented on #277
Well-defined output types are just as important to me as well-defined input types. One could argue that input-dependent output types are idiomatic in a language as dynamic as JavaScript, and there are many libraries—such as Ramda—which cater to those who agree. I have a different viewpoint. There is no compiler to scour our programs for errors, so the onus is on us as programmers to reason about t

[2016-11-13 11:41] davidchambers commented on #277
Good point, @EvanBurchard. "FP in JS" is just part of the functional programming journey, though. Ideally people will go from Underscore to Ramda to Sanctuary to PureScript to Haskell to Idris and beyond (while pursuing other wonderful approaches such as Lisp). :smile:

The more concessions we make in order for Sanctuary to seem familiar to Underscore and Ramda users, the less familiar PureScript

[2016-11-13 11:50] davidchambers commented on #277
Thanks for the example, @rjmk. I see the problem now. If a function takes three arguments of any types and we accidentally provide three arguments when we meant to provide only one, there's no way for the function to know this was a mistake.

I actually prefer this to having the program work, as it would with manual currying. If I provide too many arguments to a function I'd like my program to cra

[2016-11-13 12:00] davidchambers commented on #278
There's no love for `meld`. I'll open a pull request to remove it.

[2016-11-13 12:10] #278 closed

[2016-11-13 12:29] EvanBurchard commented on #277
@davidchambers thanks for addressing my points.

One nitpick I have is the "saving one keystroke" argument though. It's not just one keystroke for the cases I mentioned. Changing arity of a function involves changing call site, definition, and currying-site. Also currying multiple things (in an array/object) at once is not as simple to map over.

Maybe I'm not embracing the right spirit here, but

[2016-11-13 12:33] rjmk commented on #277
I can see that. However, the error is much too far from the source of the problem (here it all occurs in the one-liner, but wouldn't have to in actuality). If things were strictly curried, Sanctuary could be catching these problems at the source.

[2016-11-13 14:18] davidchambers commented on #277
That's true. Wouldn't updating the call sites take most of the effort, though? Say we are wrapping a binary function `f_` defined in a third-party module. We expose a curried binary function `f`. `f` is called in ten places. A new version of the third-party module is released in which `f_` is a ternary function. To update `f`, we'd need to change `curry2` to `curry3`. The much more significant cha

[2016-11-13 14:20] davidchambers commented on #277
Excellent point, @rjmk! This is an argument in favour of regular currying over Ramda-style currying.

[2016-11-13 14:29] EvanBurchard commented on #277
Interesting stuff on the limits with scala/ramda. And you're right that N call-sites still means 1 update to the curry2/3/whatever, not another N.

As far as interface, were you picturing a flexible type that still allows the uncurried version? I'm guessing you're against that:

```curriedAdd(1)(2)``` and also ```curriedAdd(1, 2)```

[2016-11-13 16:18] davidchambers commented on #277
Yes, that's what I have in mind. Here's the `curry2` implementation (using the latest version of sanctuary-def):

[code]

Note that `curry2` is actually a ternary function.

Usage example:

[code]

Each of the following expressions evaluates to `1000`:

[code]

[2016-11-13 17:50] Bradcomp opened #281 "on :: (b -> b -> c) -> (a -> b) -> a -> a -> c"
While the general `useWith` and `converge` from Ramda aren't very well typed, I do find them to be useful functions.  One of my main use cases for `useWith` is to emulate Haskell's `on` function (this is also known as the psi combinator).

Example:
[code]

I struggle with the parameter order for this function. In Haskell it's typically used in infix form:
[code]
As a result, I generally define it

[2016-11-13 18:46] davidchambers commented on #281
This function seems useful to me. Would you like to submit a pull request?

I think the type signature you provided is missing one `a ->`, by the way.

[2016-11-13 18:48] Bradcomp commented on #281
Thanks!  I was missing the `a`.  I will work on a PR.

[2016-11-15 18:59] davidchambers commented on #257
I'm reconsidering this issue.

My long-term goal is to move the Maybe and Either types to their own packages. These packages will only provide the data constructors and the various `fantasy-land/`-prefixed methods. They will be compatible with Sanctuary and sanctuary-type-classes (and Ramda if it is updated to support version 2 of the FL spec). I do not intend to provide unprefixed methods. Those

[2016-11-16 02:01] #281 closed

[2016-11-16 14:26] syaiful6 opened #284 "Add maybe_"
Maybe we need a function with signature:
[code]
Purescript call this maybe', it helpful if we want to compute the Nothing case lazily.

[2016-11-16 14:53] Avaq commented on #284
I've done it like this:

[code]

So essentially you're using an `() -> b`  for `b` in the Maybe signature, making the whole thing "lazy":

[code]

[2016-11-16 19:43] jonahx commented on #254
This is promising, but given that TS support seems to be bleeding edge right now, i'm curious how others are dealing with this in projects?  Are you simply using sanctuary's runtime type checks as an alternative to TS/flow?

[2016-11-16 21:50] davidchambers commented on #284
I'd like this function! The only things I'd like to tweak are the name (because we already have a function named [`maybe`][1]) and the type of the first argument:

[code]

`() -> b` represents a nullary function.

Would you like to submit a pull request, @syaiful6?

[1]: https://sanctuary.js.org/#maybe

[2016-11-16 22:24] Bradcomp commented on #257
I think given the work you've done on `sanctuary-type-classes`, it makes a lot of sense to remove the aliases.  By using the provided functions in conjunction with the data types, one does not have to worry about the types and functions falling out of sync.

If one doesn't want to use the functions provided, they can make sure to update their calling code, or just not update Sanctuary.  Eventually

[2016-11-16 22:58] davidchambers commented on #257
Thanks for the additional feedback, folks. :)

[2016-11-16 22:58] #257 closed

[2016-11-17 01:02] tycho01 commented on #254
I imagine the alternative to compile-time guarantees has largely been
ensuring high code coverage as an alternate method of locating problems.

On Thu, Nov 17, 2016 at 3:43 AM, Jonah <notifications@github.com> wrote:

[2016-11-17 01:05] syaiful6 commented on #284
@davidchambers yup, i will submit it shortly.

[2016-11-17 01:35] davidchambers commented on #254
I have only used Sanctuary in vanilla JavaScript projects. My experience is consistent with your imaginings, @tycho01: the combination of run-time type checking and unit tests catches many type errors.

[2016-11-17 01:41] davidchambers commented on #195
I don't think this function warrants inclusion.

[2016-11-17 01:41] #195 closed

[2016-11-17 06:04] mnn commented on #254
@jonahx TS support is definitely not ready, in current state I don't recommend using it for anything serious (there is not merged major change). But I am nearing finish line, I hope next week I'll be able to complete it.

It won't be perfect, because (I think) some types are just not possible to capture by TS type system (like TypeRep and `meld` :sweat:) and some things TS is not able to infer on

[2016-11-17 10:44] davidchambers commented on #254
I'm pleased to hear you've been making good progress, @mnn. :)

By the way, [`meld`][1] was removed in #280 so won't cause you problems for much longer. I understand that `create` is difficult to handle. Let me know if you think of a change we could make to Sanctuary that would make things easier at your end.

[1]: https://github.com/sanctuary-js/sanctuary/tree/v0.11.1#meld

[2016-11-17 12:36] mnn commented on #254
After many not working attempts I ended up with [this create/module prototype](https://github.com/mnn/typings-sanctuary/blob/6bc213c010341e09a47cb5ddf750a97e9e446d51/test-test.ts) (type in first case is not required). It's not ideal, but I can't think of any way how to improve it. I hope next week I'll update real typings according to this scheme and finish `Either`.

`meld` looks really interesti

[2016-11-17 13:02] tycho01 commented on #254
Whoa :), might it be possible to [publish on npm](https://github.com/donnut/typescript-ramda/issues/96) @mnn?

[2016-11-18 06:45] mnn commented on #254
After the update I'll look into it (never done it before, but from the link you posted it seems relatively easy).

Another possibility would be to include the typings in the Sanctuary repository (that's the preferred way, but not always possible - not every JS library wants TS typings bundled). IIRC there were some issues with versioning when publishing standalone typings. Bundled typings work out

[2016-11-18 12:06] davidchambers commented on #254
I'm certainly open to this possibility, but I'll need to learn about the pros and cons. It also strikes me as a good idea to have people use your package for a couple of months, @mnn, before potentially opening a pull request to add the typings to the Sanctuary repository.

[2016-11-18 18:52] gcanti commented on #254
Hi all,

I wrote a first draft of the definition file for Flow, you can find it [here](https://github.com/gcanti/sanctuary-libdef/blob/master/flow-typed/sanctuary.js).

Contributions, tests and PRs are warmly welcomed.

[2016-11-18 19:01] davidchambers commented on #254
Very cool, @gcanti!

[2016-11-18 19:53] #284 closed

[2016-11-19 08:40] gcanti commented on #254
As a side note, @davidchambers and all the contributors, thanks for the awesome documentation, I know is a tremendous effort. Precise signatures and many examples are very helpful when you write a definition file.

[2016-11-21 02:55] #277 closed

[2016-11-21 20:04] davidchambers opened #291 "pluck :: Accessible a => TypeRep b -> String -> Array a -> Array (Maybe b)"
In its infancy Sanctuary was a companion to Ramda, focused on providing safe versions of unsafe Ramda functions. Sanctuary is now close to being a Ramda alternative, and provides many more functions than it once did. It's important to occasionally remove poorly defined and/or unnecessary functions so the library becomes more coherent over time, even as it grows.

[`pluck`][1] provides a slightly m

[2016-11-21 21:09] kedashoe commented on #291
I use `pluck` pretty often and I think it would be missed by js devs. How about changing to `map` + `prop`? I feel like almost always with `pluck` I am dealing with known objects. So the common case would be nicely handled and if we ever needed more safety we can do `map(get, xs)`. No type reps this way as well.

I would be :+1: for `plucks`.

[2016-11-21 22:36] kedashoe commented on #291
In an app I'm working on I use `R.pluck` 27 times (I counted! ;) pretty large app, so it's not like I'm plucking relatively that often, but I'm still getting good mileage out of it). I like providing these really simple functions for the users. `pluck` seems to me to be a well known function that users will ask about if it is not there. I don't see the harm in including the `map` + `prop` version.

[2016-11-21 23:30] davidchambers commented on #291
I do think `map` + `prop` is a more common combination than `map` + `get`, so I am open to the idea of changing `pluck` rather than removing it.

[2016-11-22 14:04] svozza commented on #291
I like the idea of changing to `map` + `prop`. I can do the PR if that's how we decide to go.

[2016-11-22 19:34] davidchambers commented on #291
Go for it, @svozza. :)

[2016-11-24 10:07] svozza opened #292 "Drop Support For Node 0.10"
Node 0.10 is now [officially unsupported](https://github.com/nodejs/LTS) so I think we should stop testing against it and use the slot freed up to test Node 7. Node 0.12 is EOL in a month's time and I think we should drop support for that too: this will allow us to write our tests in ES6 without involving Babel, the main benefit being string templates which will make testing our error messages _mu

[2016-11-25 14:21] svozza commented on #291
So, if we want a good error message we can't implement this in terms of `prop` because we get `prop`'s error message instead. Also, if I implement it standalone I can give the index of the item in array that has the problem.

[2016-11-25 15:50] davidchambers commented on #291
We needn't define `pluck` in terms of `prop`, though it would be nice to reuse the logic that's currently internal to `prop`.

[2016-11-25 21:37] davidchambers commented on #292
Node 0.10 is a decent proxy for oldish browsers. I'd like to keep it in the test matrix for this reason.

I agree that we should remove Node 0.12 from the test matrix once it reaches EOL. :thumbsup:

Tests for error messages will be removed in #232, as we'll be able to test signatures directly via each function's `toString` method (and the type checking itself is tested in sanctuary-def's test sui

[2016-11-26 03:58] Shard commented on #292
Would it be useful if instead of testing old browsers through Node 0.10 we setup mocha to run tests in the browser and use something like sauce labs to execute the tests as a grid?

I have been doing a bit of work of late integrating mocha tests in the browser so this is something I would be happy to take up.

[2016-11-26 09:21] davidchambers commented on #292
That's a wonderful offer, @Shard. Actually running the test suite in browsers is undoubtedly the "correct" approach. My only reservation is that tests of this nature have a reputation for being unreliable, and time-consuming to maintain. Please don't let this deter you, though! :)

[2016-11-26 13:53] Shard commented on #292
Yea the effort maintain is something I want to make sure relatively easy as I know it can be quite the pain to debug at times.

I'm planning on moving houses in a couple days so it might take me a couple weeks to have something ready to roll. Ill make sure to report back if there are any major concerns or roadblocks on my end.

[2016-11-27 12:58] #291 closed

[2016-11-28 21:55] svozza opened #295 "Add an Equivalent Function to R.path"
As discussed on Gitter, we should have a companion function to `S.prop`, which fulfils a similar function to [`R.path`](http://ramdajs.com/docs/#path). For internal consistency this function should be named `props`. This would be a good first contribution but if no one has picked it up over the next few days I will submit the PR.

[2016-11-29 02:31] davidchambers commented on #292
I hope the :house: :truck: :house: goes well, Mark. :)

[2016-11-29 06:54] tycho01 commented on #254
@mnn: would you mind commenting on the script you used for the `pipe` function there? This sounds like it could be useful...

[2016-11-29 07:12] mnn commented on #254
@tycho01 It's available at the repo - https://github.com/mnn/typings-sanctuary/blob/8f05ba2f87c3fa1de9462e7fb4e788b5610f6266/scripts/Pipe.hs. I am still learning Haskell, so the code is probably far from ideal. It surely could have been written in something like JS or Ruby, but I wanted to finally use Haskell for something real and useful, not just for exercises :smile:.

Or do you mean describing

[2016-11-29 07:14] tycho01 commented on #254
@mnn That's fine, was just curious. Thanks. :D

[2016-11-29 07:26] tycho01 commented on #254
@mnn my attempt in Ramda in the meanwhile:

[code]
I've done a terrible job at switching to Haskell so far :P, being in front-end really isn't helping...

[2016-11-29 11:55] safareli commented on #254
I think you can also use numbers (with letters) for type variables `pipe<T1,T2...`

[2016-11-29 11:57] tycho01 commented on #254
@safareli: Yeah, that does appear to be method currently using in the `typescript-ramda` typings. I'm currently trying to see if I can improve those a bit more with generation like that...

[2016-11-29 12:06] davidchambers opened #296 "fromMaybe_ :: (() -> a) -> Maybe a -> a"
We added `maybe_`, a "lazy" version of [`maybe`][1], in #285. `maybe` is a convenient function for situations in which one wants to `map` then apply [`fromMaybe`][2]. It seems to me we should also provide a "lazy" version of `fromMaybe`. Otherwise we'll end up writing `S.maybe_(thunk, S.I, m)` in some cases, which seems a bit strange.

Do you agree?

[1]: https://sanctuary.js.org/#maybe
[2]: https

[2016-11-29 13:58] safareli commented on #296
I don't have strong opinion on that, but I would add one suggestion, what if we add type `Thunk` or `Lazy`:
[code]
So instead of
[code]
we would have:
[code]

if we add more functions working with Lazy users could easily find them and also it's more descriptive in type signature.

[2016-11-29 19:12] davidchambers commented on #296
I like the idea of `Thunk :: Type -> Type`, @safareli. It should be defined in terms of [`$.Function`][1] to inherit the special handling of function arguments. For example:

[code]

If you're interested in pursing this, please open an issue in the sanctuary-def repository to avoid complecting the two proposals. We can easily define `fromMaybe_` using `$.Function([a])` and later change it to `$.Th

[2016-12-01 15:06] svozza opened #297 "Smaller, More Frequent Releases"
I'm very excited about v0.12 of Sanctuary but also a bit scared. We have changed a huge amount of things so the surface area for bugs in this release is quite large. In future, I would like to see us do more frequent but smaller releases to derisk things. For example, I don't see why PRs similar to `S.prop` and `S.path` couldn't be released together as soon as they're done as part of a minor versi

[2016-12-02 02:28] davidchambers commented on #297
I'm in favour of this too. I do consider the current situation exceptional, though. Breaking changes to the Fantasy Land spec, the creation of sanctuary-type-classes, and major changes to sanctuary-def have come together to create two very large pull requests (#232 and #216). After we do eventually release v0.12.0 I hope we can switch to making smaller releases every month or two.

[2016-12-02 06:09] EvanBurchard commented on #297
If this isn't the place to discuss this, let me know, but I'm curious what 1.0.0 is being saved for. To me, dropping functions out of the API signal a major change. Just wondering what the thoughts are there.

I'm considering adopting semantic versioning alternatives ([comver](https://github.com/staltz/comver) and [monotonic](http://blog.appliedcompscilab.com/monotonic_versioning_manifesto/)) for

[2016-12-02 06:28] Shard commented on #292
Moving has gone mostly well :tada: , just no line internet until next week :phone:

[2016-12-02 10:42] svozza commented on #297
Interesting, I was going to create a separate issue for our `1.0.0` strategy, I would like to see us move quickly on this. I would hate for us to end up like Ramda and be perpetually in beta (over 3 years and counting!).

[2016-12-03 14:26] tycho01 commented on #295
Hm. Ramda also has a `props` function, distinct from its `path` function. Making a `path` equivalent named `props` here would feel confusing to me. :(

[2016-12-04 17:45] davidchambers commented on #295
All else being equal, I'm very much in favour of reusing the names used in Ramda and other functional programming libraries and languages. Internal consistency trumps cross-project consistency, though. In #181, for example, we renamed a function which had the same name as its Haskell equivalent for consistency with related Sanctuary functions.

[2016-12-06 11:17] #292 closed

[2016-12-07 11:06] davidchambers opened #303 "reinstate S.meld"
@ackerdev, @MikaAK, and @JAForbes recently mentioned on Gitter that they find [`meld`][1] useful. The function was removed in #280 after failing to receive support in #278.

At least a handful of people find this function useful, so I'm happy to keep it around. We haven't published since #280 was merged, so it would appear that the function was never removed. ;)

Please respond with :thumbsup: if

[2016-12-07 12:30] rjmk commented on #303
Should we :-1: if we don't like it or is just critical mass with :+1:s?

I missed the gitter conversation, I'm afraid. Do you have a link handy?

[2016-12-07 12:42] davidchambers commented on #303
The [conversation][1] was fairly short. Someone said the function is useful and will be missed, and a couple of people quickly replied in agreement.

The function was removed because its type cannot be expressed in Hindley–Milner, and because I was under the impression that it simply isn't a useful function. If people do in fact find it useful, I'm happy to keep it around.

[1]: https://gitter.im/

[2016-12-07 12:56] rjmk commented on #303
Fair enough. I suppose it's a fairly natural function for JS developers writing functionally

[2016-12-07 14:34] safareli commented on #303
personally, i think `codeNameOneOf1` is better than `codeNameOneOf2`
[code]

[2016-12-07 15:17] rjmk commented on #303
I do agree with @safareli. I understand the frustration with constructing more complicated pipelines of functions and the desire to do so pointfree, but I don't much like `meld`. I am also in general pro fewer functions in Sanctuary, so if something can be removed while keeping Sanctuary usable, I'd like to. I understand opinions may differ here though

[2016-12-07 20:09] svozza commented on #303
That we needed a diagram to describe what this function did means it seems I think we're possibly going overboard by including it.

[2016-12-07 21:05] MikaAK commented on #303
I feel like meld is actually quite useful and there's more than one time where I could of used it in the past and ended up having to have something that instead looks like `const fn = (a, b, c) => lastFn(otherFn(someFn(a))(b))(c)`

[2016-12-07 21:12] ackerdev commented on #303
So, I somewhat frequently find myself with a function like `(x, y) => f(g(x), y)`, and being able to create a pointfree version of this would be nice. I find myself doing this somewhat frequently, though perhaps it's a symptom of using functional JS constructs in imperative code.

Before sanctuary, I was using `R.useWith(f, [g, identity])` which does work but doesn't read so well and is a little w

[2016-12-07 21:32] davidchambers commented on #303
I think you mean `S.meld([g, f])` rather than `S.meld([f, g])`, @ackerdev.

Have those of you with `meld` experience run into problems with higher-order functions? Consider this example:

[code]

Having to manually curry `S.add` in this case is a bit of a nuisance, especially since it works correctly when applied to its arguments one at a time. The problem is that `S.add` and `R.map` are both bina

[2016-12-07 23:21] ackerdev commented on #303
@davidchambers Yep, you're right. Wasn't paying full attention.

I haven't used meld enough to run into that case yet, but I can see why that would be confusing and inconvenient (and cases like this are why I'm not too attached to meld in particular). `useWith` works better there, like `R.useWith(R.map, [S.add])`.

I'd be pretty ecstatic to have a clearer representation of that. Unfortunately I'm

[2016-12-12 13:22] mnn opened #306 "toMaybe crashes on cyclic (circular) objects"
[code]

Version: 0.11.1

[2016-12-12 13:35] mnn commented on #306
Possible workaround is to construct a wrapping function, but it adds complexity and in case of TypeScript makes types really verbose.

[code]

[2016-12-12 14:30] safareli commented on #306
the issue is not in actual `toMaybe` as it's just
[code]

so issue should be in sanctuary-def, i think it's failing because it checks if type of value passed to `toMaybe`  is same as value in  it's return which is not counting for recursive structures.

I think even this will fail:
[code]

[2016-12-12 20:04] davidchambers commented on #255
My goal is to publish v0.12.0 by the end of the year. Specifically no later than <time>2016-12-31T23:59:59.999+13:00</time>, giving me more than 1.6 billion milliseconds to make it happen:

[code]

If you're excited by the prospect of a year-end release, react to this comment to encourage me. :)

[2016-12-12 20:32] davidchambers commented on #306
That's right. I was able to reproduce the issue with the old version of sanctuary-def that Sanctuary currently uses:

[code]

The same code works correctly with the most recent sanctuary-def release:

[code]

I ran `git bisect` and determined that the problem was fixed in sanctuary-js/sanctuary-def#77. I should finish work on #232 pronto so we can merge it and release v0.12.0. If you'd like to pro

[2016-12-12 20:36] davidchambers commented on #297
I'll close this issue as we all agree that we should never again go six months between releases. :)

As for v1.0.0, I agree that we should release it sooner rather than later. The next release should not be v1.0.0, though, as so much has changed since v0.11.1 and there are likely to be some regressions. I do think the following (non-patch) release should be v1.0.0, though!

[2016-12-12 20:36] #297 closed

[2016-12-12 20:54] davidchambers commented on #303
I'm on the fence here. There's more enthusiasm for this function than I realized initially, but there are also people who believe it does not belong in the library.

Would you consider a pull request to add `meld` to Ramda, @CrossEye? It's a better fit for Ramda than it is for Sanctuary.

[2016-12-16 16:30] svozza commented on #265
I've now just noticed that a few weeks ago I accidentally edited your post instead of posting mine, David!

[2016-12-16 16:47] jlmorgan commented on #98
`orElse`, `orElseGet` and `orElseThrow` are tied to `extract`/`get`.

Examples:

[code]

With `extract` being a possible mixed type, you would likely end up with `getOrElse`, `getOrElseGet`, and `getOrElseThrow` to avoid marrying to `Comonad`.

[2016-12-16 17:03] jlmorgan commented on #230
Would also like to see something of the following:

(Please forgive my complete understanding of the existing signature syntax:

[code]

Same could be applied to `Maybe` et al.

[2016-12-16 23:46] davidchambers commented on #230
Let's see what the types of these functions might be, @jlmorgan.

[code]

This type seems sound, but I think we could use [`sequence`][1] instead:

[code]

[code]

I have several problems with this type. The first is `Any`. According to the Sanctuary philosophy `Array Number` is a useful type but `Array Any` is not. My second concern is the overly specific nature of this function (`S.find(S.is(S.E

[2016-12-16 23:53] jlmorgan commented on #230
For `Either.any` the collection should be all `Either`s that grabs the first left or the first right in that order. As for the `Either.from`, I see it as a conditional way of ensuring a collection of value are all boxed. I agree that we _should_ know what we have on hand, but it's not enforced until runtime. = \

[2016-12-17 00:08] davidchambers commented on #230
Ah, I see. So more like this?

[code]

What's your use case for this function, out of interest? Also, have you considered this approach?

[code]

It seems we might already have all the building blocks we need. :)

[2016-12-17 00:11] davidchambers commented on #98
In other words, `Either a b` cannot support [`extract`][1].

[1]: https://github.com/fantasyland/fantasy-land#extract-method

[2016-12-17 00:20] jlmorgan commented on #230
In my mindlessness of home distractions, I miswrote. `Either.any` should be first `Right` or first `Left` not the other way around.

In the case were we have used it is where we read/write from/to multiple channels, but only care if one succeeded.

[2016-12-17 00:26] jlmorgan commented on #98
Basically. Hence the `get` prefixed versions of the method that require you to provide a fallback value.

[2016-12-17 00:31] jlmorgan commented on #98
Static versions come in handy when going through a map as well rather than having to purge all the lefts/nothings/failures.

[2016-12-17 06:36] davidchambers commented on #98
Thanks to #229 we have `fromEither :: b -> Either a b -> b`. :)

[2016-12-21 14:11] Shard opened #309 "Browser tests not properly loading modules"
I noticed some errors when looking at #232 and they seemed to be caused by `sanctuary-def` loading `sanctuary-type-classes` as `undefined` in the browser tests.

I believe it has something to do with browserify configuration, still looking into it.

[2016-12-22 00:14] davidchambers commented on #309
Thank you, @Shard. :)

[2016-12-28 09:02] davidchambers commented on #255
Three days to go; three big pull requests still to merge. It's possible!

[2016-12-29 04:03] #149 closed

[2016-12-29 12:40] davidchambers commented on #246
I'm still interested in this, but I'd like to keep the source code in a single file.

[2016-12-30 19:43] #295 closed

[2016-12-30 19:57] #296 closed

[2016-12-31 10:48] davidchambers commented on #255
Well, I didn't hit my self-imposed deadline, but we're close! It'll take a few days to review, tweak, and merge the remaining pull requests, and a day or two to update the website. I'll be in New Zealand for another ten days, and I'm not sure how much time I'll devote to Sanctuary. We'll definitely get v0.12.0 out at some point in January. :)

[2017-01-01 17:33] safareli commented on #255
btw managing this PRs would be nicly done using `Projects` instead of this checklist, we could have  lists: `Todo, Doing, In Review, Merged` for example.

[2017-01-03 05:12] #98 closed

[2017-01-06 16:26] functor-soup opened #319 "sequence in haskell"
the type signature of sequence in Haskell is

`sequence :: (Monad m, Traversable t) => t (m a) -> m (t a)`

so I could have `sequence [Left 4, Right 5] => Left 4`

and `sequence [Right 6, Right 9] => Right [6,9]`

Is there an equivalent in sanctuary? I've been scanning libraries that implement the fantasy-land spec, none of them seem to have this (so far)

Edit : I understand it can be implemented

[2017-01-07 09:51] davidchambers commented on #319
v0.11.1 provides:

  - [`Maybe#sequence :: Applicative f => Maybe (f a) ~> (a -> f a) -> f (Maybe a)`][1]; and
  - [`Either#sequence :: Applicative f => Either a (f b) ~> (b -> f b) -> f (Either a b)`][2].

[v0.12.0][3] will provide `fantasy-land/traverse` methods instead (for compatibility with version 2 of the Fantasy Land spec) and polymorphic `traverse` and `sequence` functions which wrap [`Z.

[2017-01-07 22:15] safareli commented on #319
I think you would get `Left [4]`

[2017-01-08 01:34] joneshf commented on #319
[code]

[2017-01-08 19:58] functor-soup commented on #319
@davidchambers  Hmm I do remember looking at that for quite some time, thought it was something else. I see I am wrong. How would you use `const b = [S.Left(4), S.Right(5)]` to get `Left(4)` using sanctuary's`sequence`?

@safareli  I believe @joneshf's comment clarifies that the answer would be `Left 4` because the type signature highlights that pretty clearly

[2017-01-08 20:49] safareli commented on #319
@functor-soup correct my mistake

[2017-01-11 23:14] svozza opened #320 "R.props"
I found myself needing to do this on an object of unknown object of dubious origin and couldn't find an elegant way to do it in Sanctuary. I ended up doing this but it would have been nice to use something similar to `S.gets`:

[code]

[2017-01-12 03:34] davidchambers commented on #320
Here's one reasonable approach:

[code]

[2017-01-12 06:36] davidchambers commented on #309
We fixed this in a straightforward manner in #232:

[2017-01-12 06:36] #309 closed

[2017-01-12 07:06] svozza commented on #320
Yep, that'll do the trick!

[2017-01-12 07:06] #320 closed

[2017-01-12 07:09] #253 closed

[2017-01-12 07:09] #260 closed

[2017-01-13 14:25] brandones opened #325 "Changing R.pipe to S.pipe causes silent failure"
I'm trying to use Sanctuary within a `Promise.then`.

[code]

Everything works fine when using `R.pipe`, though debugging is a pain, since type errors won't be caught. But if I switch `findIndexAtWordBoundary` to use `S.pipe`, as in

[code]

there's a silent failure -- it prints `PEEK  before  (stuff)` but doesn't print `PEEK  after  102` like it does with `R.pipe`. It seems like execution just st

[2017-01-13 14:42] davidchambers commented on #325
The problem may be that `S.pipe` expects an array of functions whereas `R.pipe` is variadic:

[code]

If you can avoid using promises I strongly suggest you do so. I imagine the type error being thrown by `S.pipe` is being caught by the complex machinery specified by Promises/A+, resulting in a rejected promise. Consider using a Fantasy Land -compatible data type such as the one provided by [Flutu

[2017-01-14 10:36] davidchambers commented on #319
Here are the Sanctuary equivalents of your Haskell expressions, @functor-soup, on the `dc-fantasy-land` branch:

[code]

I'll close this issue as I believe we've answered your question. :)

[2017-01-14 10:36] #319 closed

[2017-01-15 11:20] davidchambers commented on #262
Another option would be to use [`Z.map`][1], which does not perform type checking.

[1]: https://github.com/sanctuary-js/sanctuary-type-classes#map

[2017-01-15 12:20] Avaq commented on #262
Using `Z.map` is perhaps the best work-around for *this* case, but there are plenty of Sanctuary functions one might use that don't have unchecked equivalents available out of the box. I have several thoughts on the matter:

* Is this really an issue? By using sanctuary you opt in to using a set environment outside of which nothing can exist. This is just a consequence of that choice.
* Why does `

[2017-01-16 07:47] davidchambers commented on #262
This is a perfectly reasonable decision to make at the application level. An algebraic data type, though, should be usable in applications which do *not* use Sanctuary (in addition to those which do). Were I to use several FL-compatible ADTs in an application I would expect them to work together without first introducing them to one another. This suggests to me that methods of ADTs should not perf

[2017-01-16 09:07] safareli commented on #320
You can if you really want 😄

[code]

If we take a look at `S.map(S.get(S.is(Number)), keys)` it is an array of functions waiting for our `obj` to return `Maybe Numbers` so we need to map over it using function of type: `(SomeObj -> [Maybe Number]) -> [Maybe Number]`. we could use `A :: (a -> b) -> a -> b` but it's not quite what we want, it needs a little of a "massage" with `flip` (`flip(A) :: a

[2017-01-16 09:39] davidchambers commented on #320
[`S.T`][1] is the "flipped" version of [`S.A`][2]. :)

[1]: https://sanctuary.js.org/#T
[2]: https://sanctuary.js.org/#A

[2017-01-16 10:12] Avaq commented on #262
I see your point. That's rather painful. Disabling type-checking was a feature intended to increases performance. It would be a shame to need it elsewhere. Would it be possible to reintroduce "allowing foreign types" as an option?

[code]

This would allow library authors to build on top of Sanctuary, providing its fantastic type-checking for known types, without having to burden users with the cr

[2017-01-16 10:16] Avaq commented on #262
Actually, this might be a bad idea. It's going to enforce developers to "cut off access" to extending the internal `env` they are using in favor of a simple API. Disabling "power users" to extend the env with environments from other modules and have better type-checking.

[2017-01-16 10:20] Avaq commented on #262
So to conclude:

* I have no better ideas than your proposed work-around
* It's probably better to leave *foreign types* support out
* The only question that remains is whether to expose a more convenient way to access unsafe Sanctuary functions, eg. `S.unsafe.map`. I think that should be possible, since unsafe function don't need an `env`, nor to know whether to check types.

[2017-01-16 12:01] davidchambers commented on #262
Oh, I see. :)

I do like the idea of reinstating `S.unchecked`—I prefer "unchecked" to "unsafe"—for ergonomics:

[code]

[code]

Were we to do so, the `checkTypes` member of the `{ checkTypes :: Boolean, env :: Array Type }` record would become redundant, as you noted. `S.create` would only be necessary for creating type-checked modules with custom environments, so we could change its type to `Arr

[2017-01-16 15:48] brandones commented on #325
Oh wow. TIL: Promise error handling was spec'd for masochists. Thanks for the help.

[2017-01-16 15:48] #325 closed

[2017-01-16 16:38] davidchambers commented on #325
No problem. You're on a good path now. :)

[2017-01-16 17:07] davidchambers commented on #255
I'm willing to give this a try.

I do like text files, though. What I'd like is a format that allows us to express dependencies between items on the list. For example:

    +--o  merge sanctuary-js/sanctuary-type-classes#22
    |
    +--o  merge sanctuary-js/sanctuary-type-classes#24
    |
    +-----o  publish sanctuary-type-classes@2.0.0

    +--o  merge sanctuary-js/sanctuary-def#99
    |
    +-

[2017-01-22 17:39] davidchambers opened #327 "sanctuary-def dependency"
Sanctuary depends on sanctuary-def, as specified in __package.json__. Furthermore, Sanctuary is only *compatible* with certain versions of sanctuary-def. @codedmart recently brought it to my attention on Gitter that the example for [`create`][1] does not work if one uses the current version of Sanctuary (v0.11.1) with the current version of sanctuary-def (v0.9.0).

There are (at least) two things

[2017-01-27 19:25] zfoxdev opened #328 "Maybe.map not functioning as documented."
Maybe.map is documented as follows:

`Maybe#map :: Maybe a ~> (a -> b) -> Maybe b`

While I am encountering the following functionality:

`Maybe#map :: Maybe a ~> (a -> b) -> Just b`

For example the following code:
`S.toMaybe('hello').map(str => undefined)`
Will result in:
`Just(undefined)`
When the following is desired:
`Nothing`

This leads to the following issue with the code bellow:
[code]

[

[2017-01-27 19:55] vendethiel commented on #328
That sounds correct to me. You want a filter-style function.

[2017-01-27 20:39] davidchambers commented on #328
Hello, @zfoxdev. Welcome to Sanctuary!

The first thing to recognize is that `Maybe` is a unary type constructor. Its type is as follows:

[code]

So `Maybe` is not a type, but `Maybe String` is a type, as is `Maybe a`.

`Just`, on the other hand, is not a type constructor but a *data* constructor. It's a function for creating values of type `Maybe a`. Its type is as follows:

[code]

Let's consid

[2017-01-27 20:47] safareli commented on #328
Behaviour of map is correct. I think you want to do something like this you can do this:
[code]
or
[code]

What's happening in your case is that, you have value of type `Maybe String` and it's `map` takes function from `String` to `b` and returns `Maybe b`
[code]
`b` for you is substituted by `Nullable a` or `?a` which means that it is either `null/undefined` or some value `a`, and result is `Mayb

[2017-01-27 20:50] davidchambers commented on #328
No problem. Two explanations are better than one. :)

[2017-01-30 17:31] davidchambers opened #329 "stripPrefix and stripSuffix"
PureScript provides [`stripPrefix`][1] and [`stripSuffix`][2]:

[code]

I believe Sanctuary should do so too. Today I found myself wanting `stripSuffix` (in Haskell), so I now see the utility. :)

[1]: https://pursuit.purescript.org/packages/purescript-strings/2.1.0/docs/Data.String#v:stripPrefix
[2]: https://pursuit.purescript.org/packages/purescript-strings/2.1.0/docs/Data.String#v:stripSuffix

[2017-02-01 21:50] zfoxdev commented on #328
@davidchambers
I did end up using a chain as a work around. Like this example mock code:
[code]
My understanding however based on the documentation is that this should be done automatically when using `.map()`.

I understand that the real issue lies with the `Just(undefined)` and more specifically with the following issue:
[code]
What I would expect from the `.map()` operation is the second case.

[2017-02-01 22:02] svozza commented on #328
It's not `map`'s responsibility to handle this case, all it does is run a function, any function, on the contents of the container it's applied to. If there is a chance of failure then you need to use a function that can handle that and use `chain` instead.

[2017-02-01 22:05] safareli commented on #328
if you are not sure about biz being present in the object or not then you shouldn't use map and instead have function: `safeGetBiz = (o)  => o.biz == null ? Nothing : Just(o.biz)` and use it with chain:
[code]
u can generalize `safeGetBiz` to
[code]

Sanctuary already has something like `safeGet`:
`get :: Accessible a => TypeRep b -> String -> a -> Maybe b`

[2017-02-01 22:43] davidchambers commented on #328
Stefano and Irakli have addressed the crux of your recent comment, @zfoxdev, but I would like to clarify the intended meaning of `::` in the Sanctuary documentation.

It looks as though you're using `::` to mean _evaluates to_, as in _`2 + 2` evaluates to `4`_, but in Hindley–Milner notation `::` has a different meaning.

`::` means _is a member of_. We can write _`['foo', 'bar', 'baz'] :: Array S

[2017-02-04 12:45] #328 closed

[2017-02-04 12:54] davidchambers commented on #230
I'm closing this issue as it's not actionable. If you're interested in one of the specific functions discussed in this thread, please open a new issue for it.

[2017-02-04 12:54] #230 closed

[2017-02-04 13:14] davidchambers commented on #303
We've decided that this function does not fit with Sanctuary's philosophy (which we should write about and publish on the website). If you're a fan of this function you could express your support for it in ramda/ramda#2076.

[2017-02-04 13:14] #303 closed

[2017-02-04 13:19] davidchambers commented on #208
We're making more use of JSVerify now (see, for example, the property-based tests added in #323). It would be valuable to increase the number of property-based tests further still. This issue is too open-ended, though, so I'll close it. Thank you @rjmk for prompting this discussion. :)

[2017-02-04 13:19] #208 closed

[2017-02-04 13:40] davidchambers commented on #327
Could we use [`peerDependencies`][1] to express the constraint?

[code]

[1]: https://docs.npmjs.com/files/package.json#peerdependencies

[2017-02-04 14:18] Avaq commented on #327
I've never seen `peerDependencies` used like that, though I haven't come across the situation where a package is both a *dependency* and a *plugin* to another package. I guess it might win us an automatic warning when the user tries to use an incompatible `def`, but I think it's all a bit messy. It relates my the concerns I expressed [here](https://github.com/Avaq/Fluture/issues/63#issuecomment-27

[2017-02-04 14:24] Avaq commented on #327
Ah I just realized the flaw in my idea above: In order to provide an `env`, we would still need `sanctuary-def`.

[2017-02-04 14:26] Avaq commented on #327
But it *does* seem to me like removing `sanctuary-def` from dependencies and keeping it as only a peer-dependency would reduce complexity.

[2017-02-04 14:39] davidchambers commented on #327
I agree. `const S = sanctuary.create(def);` seems very nice to me! Let's seriously consider this change once we get v0.12.0 out the door. :)

[2017-02-07 12:36] Avaq commented on #327
I think this is what we should do:

1. Separate all of sanctuary into small modules, each with a *peer* dependency on `sanctuary-def`:
   * `sanctuary-either` to contain the Either type, its Repr and associated functions
   * `sanctuary-maybe` to contain the Maybe type, its Repr and associated functions
   * `sanctuary-list` for list related functions
   * `sanctuary-string` for string related fun

[2017-02-07 12:53] rjmk commented on #327
Is it `UnaryType` that breaks things currently?

[2017-02-07 14:03] rickmed commented on #327
I really don't know the internals of sanctuary so I have no idea what is possible but I assume that eacho of those packages would be sanctuary-def (78 kb) and sanctuary-type-classes (45kb). Right now sanctuary is 100kb, let's say sanctuary-maybe would me 15kb. Would it make sense to have a separate package of 15kb with 123kb of dependencies. In that case, me as a user, would prefer to download a e

[2017-02-09 20:43] svozza commented on #265
Just FYI, `yarn` is now installed by default on CircleCI:

https://circleci.com/docs/yarn/

[2017-02-11 00:51] davidchambers commented on #265
I would like to see this! :)

[2017-02-12 20:50] #178 closed

[2017-02-12 20:50] #252 closed

[2017-02-13 00:19] davidchambers opened #332 "v0.12.0 release notes"
https://github.com/sanctuary-js/sanctuary/compare/v0.11.1...v0.12.0

### Overview

This is a *huge* release, representing hundreds of hours of work over the course of more than eight months, spanning multiple projects. I'm thrilled to be able to share the result. Many thanks to those who contributed to this release, either by submitting pull requests or by participating in discussions on GitHub an

[2017-02-13 00:20] #255 closed

[2017-02-13 07:25] svozza commented on #332
Fantastic stuff! Thank you to everyone who helped get such a big release out the door.

[2017-02-13 08:32] Avaq opened #333 "Note that `on` is the `P` combinator"
I missed that we also have `on` now. Maybe we can add a note there that this is the P (psi) combinator from combinatory logic.

[Combinators](https://gist.github.com/Avaq/1f0636ec5c8d6aed2e45)

[2017-02-14 16:38] svozza opened #335 "v1.0.0"
Now that 0.12 has been released, is it time to formulate a strategy for how we proceed from here? I think it would be great to get a stable version out as soon as is practicable. One place I think we're deficient in is changing the properties in `StrMap`s, i.e., functions such as `assoc`, `evolve` etc. I'm presuming the preferred solution here is lenses and we have an [issue](https://github.com/sa

[2017-02-14 17:43] davidchambers commented on #335
These are the changes I'd like to see before v1.0.0:

  - Maybe type moved to a separate project (sanctuary-js/sanctuary-maybe#1);
  - Either type moved to a separate project (sanctuary-js/sanctuary-either#1); and
  - [`create`][1] changed to take `def` as an argument.

Useful functions such as `assoc` can easily be added in minor releases post v1.0.0. v1.0.0 needn't be "complete", but it would be

[2017-02-14 22:32] svozza commented on #335
Good point regarding `assoc` and friends. My worry about the first two points is that it's mostly out of our hands, we're basically waiting on the outcome of this issue that's been open for months:

https://github.com/fantasyland/fantasy-maybes/issues/8

I hope we're not in danger of falling into to the analysis paralysis that seems to have gripped Ramda.

[2017-02-14 22:54] davidchambers commented on #335
I'm not convinced that moving these projects to the @fantasyland account is the right move, for reasons I will explain (at some point) in fantasyland/fantasy-maybes#8. I think we should go ahead and release sanctuary-maybe and sanctuary-either, *then* decide whether to move the projects. This way we're in control of our own destiny.

I don't think so. Ramda's governance is too democratic, in my vi

[2017-02-14 23:01] svozza commented on #335
Ok. That's good to know, I've been holding off on doing any work on splitting out `Either` and `Maybe` because I thought we needed to wait for a decision on moving them; the analysis paralysis I was referring to was on that end rather than here because I figured there would be a lot of conflicting opinions on such a move.

[2017-02-15 12:54] svozza opened #337 "Add S.zip and S.zipWith"
Create a type-safe version of [zip](http://ramdajs.com/0.22.1/docs/#zip) and [zipWith](http://ramdajs.com/0.22.1/docs/#zipWith).

[2017-02-15 13:06] davidchambers commented on #337
#222 contains many interesting thoughts on this matter.

[2017-02-15 13:12] svozza commented on #337
I'd completely forgotten about that! Guess we should close this then. I still think it's a useful function, I was only using it last week and had to go back to Ramda.

[2017-02-15 13:16] svozza opened #338 "Add reject and rejectM"
Add inverse versions of [filter](https://github.com/sanctuary-js/sanctuary#filter--applicativeffoldablefmonoidfa--a-boolean---fa---fa) and [filterM](https://github.com/sanctuary-js/sanctuary#filterm--monadmmonoidma--a-boolean---ma---ma).

[2017-02-15 13:19] davidchambers commented on #337
Let's reopen the discussion. The fact that it's now feasible to use Sanctuary without Ramda may tip the scales in favour of these functions' inclusion.

[2017-02-15 13:27] davidchambers commented on #332
I just released v0.12.1 which contains @JAForbes's fix for bundlers (#334).

[2017-02-15 13:46] svozza commented on #335
Are the Maybe utility functions going to move to the new repo or is it literally just the data type?

[2017-02-15 13:48] svozza opened #339 "Add splitOnRegex"
Create a regex version of [splitOn](https://github.com/sanctuary-js/sanctuary#spliton--string---string---arraystring).

[2017-02-15 13:52] davidchambers commented on #335
Just the data type. By keeping the project lean we'll be more likely to encourage others to use it rather than write competing implementations.

[2017-02-15 13:57] Avaq commented on #306
I believe this issue can be closed. With the latest version of Sanctuary:

[code]

[2017-02-15 13:57] #306 closed

[2017-02-15 14:50] davidchambers commented on #306
Thanks for closing this issue, Aldwin. :)

[2017-02-16 12:28] davidchambers opened #341 "branch naming convention"
I created Sanctuary while working at Plaid. At Plaid I instituted a branch naming convention to give people on the team the freedom to `--force` push without ever inadvertently overwriting someone else's work. I've continued to use this convention for the Sanctuary projects. The format is as follows:

             dc-git-date
    author's ==|======== branch
    initials   |         identifier

[2017-02-16 12:31] svozza commented on #341
I actually thought the naming convention was to use your Github username for some reason! This sounds perfectly reasonable to me. The only reason I've been using my Sanctuary fork was habit, I've been committing directly to any of the new repos.

[2017-02-16 13:05] rjmk commented on #341
Sounds good! The only potential issue I see is guiding us too strongly towards each branch having only one committer. Of course, it doesn't *stop* us having more collaborative branches, but it might set a certain framing.

On the other hand, maybe collaborating via multiple committers (as opposed to comments &c) is not a good idea, and so that framing will be useful

[2017-02-16 13:14] davidchambers commented on #341
I think this helps even when collaborating, Rafe. I know *never* to `--force` push to `rjmk/...`. I also know that you are free to do so, so I *must* communicate with you before pushing commits to one of your branches. We could then agree to treat the branch as append-only.

[2017-02-16 13:22] rjmk commented on #341
Cool! Works for me :)

[2017-02-16 16:36] Avaq commented on #341
Seems reasonable. I guess it entails describing the practice in `CONTRIBUTING.md`.

[2017-02-16 23:32] kedashoe commented on #341
Is this to make it easier to review other members work? It doesn't really change anything (as far as making it easier/simpler) for ones own PRs?

Maybe because it is different from how non-members submit pull requests? So now there are two things people need to know about and as a member I have a different work flow when reviewing pull requests depending on who submitted it (if I am understanding

[2017-02-17 00:03] davidchambers commented on #341
You're right, Kevin, that creating feature branches in this repository rather than in forks wouldn't change the workflow. Now that GitHub grants those with commit access to a parent repository the ability to update pull request branches in its forks (unless pull request submitters explicitly opt out), there really is no difference.

I'm 100% okay with you continuing to do so. :)

As for there bein

[2017-02-17 00:27] kedashoe commented on #341
cool, sounds good!

[2017-02-17 14:14] davidchambers opened #342 "complement :: (a -> Boolean) -> a -> Boolean"
This is a beautiful implementation:

[code]

We tend not to use curried functions internally, so this is probably not the implementation we should choose. I do enjoy finding uses for partially applying `compose`, though. :)

[2017-02-17 16:30] gabejohnson opened #343 "Generalize append and prepend"
Currently, we have `append :: a -> Array a -> Array a` and `prepend :: a -> Array a -> Array a`.

There's no reason this can't be generalized to any type that implements Semigroup and Applicative (or really lawful `concat` and `of`).

Then we can apply them to `Immutable.List`:
[code]

[2017-02-17 16:39] davidchambers commented on #343
Do you fancy the idea of submitting a pull request? :)

[2017-02-17 16:41] gabejohnson commented on #343
I can do that, but I'm not quite sure how to type it in the description. `append :: a -> (Semigroup & Applicative) a -> (Semigroup & Applicative) a`. I don't know the notation for "implements n algebras".

[2017-02-17 16:56] davidchambers commented on #343
The type signature you're suggesting would look like this, @gabejohnson:

[code]

With sanctuary-def:

[code]

That would be even nicer. :)

[2017-02-17 17:09] gabejohnson commented on #343
I'm not sure I'm tracking. @vendethiel what's your suggested implementation?

[2017-02-17 17:51] vendethiel commented on #343
I'm wrong. It looks like it needs `Alt` (not Alternative because of the annihilation law), or maybe `Plus` for `empty`.

[2017-02-18 18:28] Avaq opened #346 "Type-class constraints on applied types not handled"
I'm not sure if "applied types" is the right term, so I'll just convey the problem by example:

[code]

This happens because `sanctuary-type-classes` does not have access to the information that `Maybe Number` is not a Semigroup. It only knows that `Maybe` implements `concat`, and therefore must be a Semigroup. The fact that `Maybe#concat` dispatches to `concat` on the inner-type is currently an i

[2017-02-18 22:32] davidchambers commented on #346
Excellent example. We'd like `Just(1)` to respond "no" when asked whether it satisfies the requirements of Semigroup. Any suggestions as to how it would do so?

[2017-02-19 13:52] #342 closed

[2017-02-19 18:22] Avaq commented on #346
I think the way to do it with Fantasy Land, en to ensure that `fantasy-land/concat` only exists on values that are *actually* members of Semigroup. Something like:

[code]

However, that violates another Fantasy Land rule:

[2017-02-19 18:36] Avaq commented on #346
The (probably more correct but less convenient) alternative would be to have people define their own Maybe types before they can use them, eg:

[code]

[2017-02-19 21:50] davidchambers commented on #346
This is an ingenious solution, Aldwin! This approach had never occurred to me.

We would be breaking the letter of the law but not the *spirit* of the law. I'm absolutely fine with this and would go as far as to say that it's a very natural solution to the problem in an object-oriented language as flexible as JavaScript.

Another possibility has just occurred to me. Consider the type signature in

[2017-02-20 09:49] safareli commented on #346
`List a` is Semigroup for any `a`

[2017-02-20 10:40] davidchambers commented on #346
Ah, yes, of course!

I thought of another problem with my suggestion: `Identity (Identity Number)`. In this case we need to go down *two* levels to determine the answer. Aldwin's suggestion handles this with ease!

[2017-02-20 22:07] svozza opened #347 "Add S.when and S.unless"
Create versions of [R.when](http://ramdajs.com/0.23.0/docs/#when) and [R.unless](http://ramdajs.com/0.23.0/docs/#unless).

[2017-02-20 22:19] svozza commented on #343
Implemented in #345.

[2017-02-20 22:33] gabejohnson commented on #347
Whipped something up really quick. I'll open a PR in a few hours.

[2017-02-20 22:41] #343 closed

[2017-02-21 04:05] gabejohnson opened #349 "takeWhile and dropWhile"
The Ramda functions [takeWhile](http://ramdajs.com/docs/#takeWhile) and [dropWhile](http://ramdajs.com/docs/#dropWhile) should both have the type signature:
[code]

I mentioned `takeUntil` and `dropUntil` in the Gitter room, but thinking on it more they don't bring much to the table (the way I was thinking of them):

[code]

[2017-02-21 12:20] davidchambers commented on #349
I agree that we should provide `{take,drop}While` but not `{take,drop}Until`. :)

[2017-02-21 15:10] davidchambers opened #350 "tagBy :: (a -> Boolean) -> a -> Either a a"
#348 prompted an interesting discussion which is still unfolding. I've had a related thought which I'd like to discuss separately to avoid derailing that pull request.

I dislike `ifElse`. Every time I use it I feel I'm missing some simple way to avoid conditional logic. In many cases Sanctuary *does* make it possible to avoid conditional logic. One can, for example, apply [`filter`][1] to a value

[2017-02-21 15:22] rjmk commented on #350
I would say `ifElse(__, Left, Right)` (equivalent to `tagBy`) is my most written expression when using Sanctuary. So a big 👍 from me

[2017-02-21 15:28] davidchambers commented on #350
That's an interesting data point, Rafe!

Are you really using `ifElse(__, Left, Right)` rather than `ifElse(__, Right, Left)`?

[2017-02-21 15:31] rjmk commented on #350
Nope, my mistake! Mostly `ifElse(__, Right, Left)`

[2017-02-21 15:37] gabejohnson commented on #349
On Gitter I asked if anyone wanted [findIndex](http://ramdajs.com/docs/#findIndex) as it would be useful for implementing these functions and if I write it as a helper I can't think of a reason not to expose it.

[2017-02-21 15:43] davidchambers commented on #350
Let's add `tagBy`. I'm happy to leave the pull request to you if you'd like to take it, Rafe.

[2017-02-21 15:54] davidchambers commented on #349
I'm suspicious of indexes. Ideally these functions would be defined in terms of Foldable or some other type class. A linked list, for example, could satisfy Foldable without supporting index-based member access. The complicating factor is the String type (as is so often the case). I'm not sure how useful these functions are for strings, though. Consider:

[code]

This could be achieved with the he

[2017-02-21 17:09] gabejohnson commented on #349
An index could still represent the position of a node in a linked list though.

As for strings, I would just add them for consistency. But I would also keep in mind that many developers shy away from regular expressions because of readability and familiarity/usability.

And I think I understand the reason strings aren't considered Foldable in JS. The string `"hello"` if considered as Foldable must

[2017-02-21 17:39] rjmk commented on #350
I'd love to! I'm not going to be able to get to it for a few days, though, if that's OK

[2017-02-21 19:26] davidchambers commented on #350
Excellent! There's no urgency. I'll assign the issue to you. :)

[2017-02-23 21:35] svozza opened #351 "Add S.groupBy"
Implement a Sanctuary version of [R.groupBy](http://ramdajs.com/0.23.0/docs/#groupBy) although probably closer to the Haskell version so we would have a type signature of:

[code]

[2017-02-23 21:41] svozza opened #352 "Add S.comparing"
Create a Sanctuary version of [comparing](http://hackage.haskell.org/package/base-4.9.1.0/docs/Data-Ord.html#v:comparing) in Haskell.

Usage:

[code]

[2017-02-23 21:45] svozza opened #353 "Add S.sort and S.sortBy"
Add Sanctuary version of [R.sort](http://ramdajs.com/0.23.0/docs/#sort) and [R.sortBy](http://ramdajs.com/0.23.0/docs/#sort).

[2017-02-24 22:33] gabejohnson commented on #349
I just realized there's an inconsistency in the return type as well

[code]
There's no need to return a `Maybe` as the predicate will not be run on empty `List`s.

I'm still inclined to include strings, but will leave that discussion for the PR.

[2017-02-25 03:41] gabejohnson commented on #349
Oh. I just saw the note here concerning `String` and the `List` type https://github.com/sanctuary-js/sanctuary/blob/88d1af05c69d77b31d8be77c5f49acbf68a262b2/index.js#L2639

[2017-02-25 04:07] gabejohnson commented on #349
Will `Foldable` work without `Applicative`? How do we get an initial value if `takeWhile` and `dropWhile` are implemented in terms of `reduce`?

[2017-02-25 12:30] davidchambers commented on #349
Here's a possible implementation:

[code]

The generalized `append` is already proving useful!

[2017-02-25 12:40] gabejohnson commented on #349
Yes. I was testing a similar implementation with @silly-goat. But that does add the monoid requirement.

[2017-02-25 12:41] svozza commented on #349
Will using `append` not clone the array on every iteration?

[2017-02-25 12:44] gabejohnson commented on #349
@svozza Yes. It's not a practical implementation. Just POC for using `reduce`.

[2017-02-25 13:07] davidchambers commented on #349
Good point. We could also provide a fast path for arrays.

[2017-02-25 17:39] #347 closed

[2017-02-25 21:28] tycho01 commented on #254
Update: it seems @gcanti has made a start on [Flow typings](https://github.com/gcanti/sanctuary-libdef)! :)

[2017-02-26 17:22] davidchambers commented on #341
I've started prefixing my branch names with `davidchambers/`. Feel free to do the same (with your GitHub username).

[2017-02-26 17:22] #341 closed

[2017-02-26 17:28] davidchambers commented on #332
I just released v0.12.2 which contains @Avaq's tweak to make [`S.env`][1] compatible with [`$.test`][2] (#354).

[1]: https://github.com/sanctuary-js/sanctuary/tree/v0.12.2#env
[2]: https://github.com/sanctuary-js/sanctuary-def/tree/v0.9.0#test

[2017-03-04 21:48] davidchambers commented on #339
@cust0dian pointed out that [`String#split`][1] has more modes than Vim. Optional capturing groups are problematic:

[code]

I see two solutions:

  - __`splitOnRegex :: RegExp -> String -> Array String`__

    This option would ignore capturing groups in the pattern:

[code]

  - __`splitOnRegex :: RegExp -> String -> { gaps :: Array String, matches :: Array (Array (Maybe String)) }`__

    This

[2017-03-05 10:41] cust0dian commented on #339
I would definitely expect  **`splitOnRegex :: RegExp -> String -> Array String`** (and [Haskell folks seem to agree](http://hackage.haskell.org/package/regex-compat-0.95.1/docs/src/Text-Regex.html#splitRegex)).

If this is left as *good first contribution* and @jordrake isn't up for the challenge, I think we should provide example implementation here since I'm not sure there's a trivial, straightf

[2017-03-05 14:09] davidchambers commented on #339
I have a working implementation:

[code]

Arriving at this version took many iterations. Use a stateless (i.e. non-`global`) RegExp object seemed wise initially, but `'xxx'` would then be split multiple times on `/^x/`. We must provide the whole string each time and rely on the `lastIndex` property of a `global` RegExp object. We even need to manually advance the `lastIndex` property when it gets

[2017-03-06 17:48] syaiful6 opened #360 "Add Intercalate"
So, we have ```joinWith``` that joins the strings of the second argument separated by the first argument. Which only work on array of string. What if i need to work with different container? Can we abstract this? Yes, by constraints it with Foldable and Monoid.

The type signature would be:
[code]

[2017-03-06 22:50] davidchambers commented on #360
This sounds useful, @syaiful6. Would you like to submit a pull request?

[2017-03-08 14:39] syaiful6 commented on #360
i would, but there are a problem, we look like need type representative for underlying Monoid in case the structure is empty. Now, i think it make it more complicated /weird than joinWith.
[code]

So, i start think better not to implements it after all?

[2017-03-09 10:22] safareli commented on #360
As first argument is of same Monoid type, you can get empty from it's `constructor` prop:
[code]

[2017-03-09 15:38] rjmk commented on #360
What about types made from applying type constructors, Irakli? `Identity a` is a monoid if `a` is, but `Identity` has the wrong kind to be a monoid. I'm a little out-of-date on FL so maybe there's away to handle that?

[2017-03-09 15:51] davidchambers commented on #360
As a result of fantasyland/fantasy-land#180 it's no longer possible for the Identity type to satisfy the requirements of Monoid, @rjmk, so we're in the clear!

The fact that we can now define `intercalate` in general terms makes me feel very good about this breaking change to the FL spec. :)

[2017-03-09 15:56] rjmk commented on #360
Does that mean that `Reader` can no longer be an `Applicative`/`Monad`?

[2017-03-09 15:58] davidchambers commented on #360
I don't know, Rafe. I haven't learnt about Reader yet. I imagine Irakli knows the answer. :)

[2017-03-09 16:01] rjmk commented on #360
Perhaps a better example would be `Validation e` (An `Either` where you gather up further errors). The Applicative instance for `Validation e` has a monoid constraint on the `e`, so there'd be no way to make the `of` on the type representative?

[2017-03-09 17:23] safareli commented on #360
@rjmk you are right you can't make `Validation e` Applicative, nor `(,) a`.
recently [I wrote about](https://github.com/fantasyland/fantasy-land/issues/33#issuecomment-284513930) making `Maybe a` Monoid, but it becomes problematic when you start defining `map`

[2017-03-09 17:53] gabejohnson opened #361 "S.filter not checking if second argument implements Monoid"
When I call:
[code]
I expect to see:
[code]
But instead I see:
[code]

[2017-03-09 17:59] gabejohnson commented on #361
This also happens w/ `S.empty`

[2017-03-09 18:23] safareli commented on #360
@davidchambers  `Reader e a` describes computation which produces some value of type `a ` if you give it access to environment of type `e`. This description looks like a function and it's actually implemented using a function (`type Reader e a = Reader (e -> a)`).

Here are some videos about it:
- in [this talk](https://www.youtube.com/watch?v=ZasXwtTRkio)(Dead-Simple Dependency Injection) @runaro

[2017-03-09 19:48] gabejohnson commented on #361
This is a problem with sanctuary-type-classes. Specifically [`getBoundMethod`](https://github.com/sanctuary-js/sanctuary-type-classes/blob/2210d23946472dcecaa21d17a95a88fd4acf1aa0/index.js#L205-L206).

I can fix and submit a PR referencing this issue, or open a new issue there.

[2017-03-09 20:51] davidchambers commented on #361
That would be fantastic!

[2017-03-09 22:07] gabejohnson commented on #361
Even after submitting the PR. I'd like to keep this open until we bump the version on sanctuary-type-classes and update the dependency.

[2017-03-11 12:10] itrelease opened #362 "Multimethod for alt function?"
I have a function that basically mimics `if-else-if-else` behavior, but now even if `Just` case already found it still evaluates another branch. So I've thought maybe in `alt` method second argument may be a function that would be called only if first argument is `Nothing`? Or maybe there are already exists way for doing what I want?

[code]

[2017-03-11 13:44] davidchambers commented on #362
Does [`maybe_`][1] provide the functionality you desire, @itrelease? You can provide [`I`][2] as the second argument if you don't want to transform the value inside a Just.

[1]: https://sanctuary.js.org/#maybe_
[2]: https://sanctuary.js.org/#I

[2017-03-11 14:56] itrelease commented on #362
@davidchambers that'll work, thanks for pointing to `maybe_` method

[2017-03-11 14:56] #362 closed

[2017-03-11 16:40] davidchambers commented on #362
No problem. :)

[2017-03-12 18:09] jordrake commented on #339
Happy to change my PR to reflect this. Not sure I could do the unit testing (especially the property-based testing) justice on my first pass but that's what comments are for.

If somebody needs this in sooner, I am equally happy to drop my PR and have somebody more experienced take over.

[2017-03-13 11:58] syaiful6 commented on #360
Sorry, i don't have time recently, i will send the PR when i have time for this, maybe this week i can send PR for this, feel free to take over. :+1:

@rjmk i don't get it why ```Validation e``` can't implements applicative in FL, but i think we can implements it in regard of FL spec, for example take a look Folktale implementation, I believe they implements it correctly. But ```(,) a``` look like

[2017-03-13 12:15] rjmk commented on #360
@syaiful6 Folktale doesn't comply to the latest FL spec; they're doing their own thing

[2017-03-13 12:36] syaiful6 commented on #360
@rjmk can you elaborate? The Folktale's Validation i mean is the one in Origami Tower.

[2017-03-13 13:54] rjmk commented on #360
@syaiful6 Yep! Sorry last message was pretty useless.

Fantasy Land currently does things like require prefixed method names and an object called a type representative (if you implement certain algebras; Applicative is one of them). As far as I'm aware, Quildreen is not implementing those.

For something like `Validation`, you need your error type to be a `Monoid` to implement `Applicative`. That

[2017-03-13 14:04] syaiful6 commented on #360
@rjmk oh, i see. Quil implements the prefixed method and the type representative, But it implemented in their new lib (maintained on Origami Tower organization). Folktale use something like Daggy to implements Validation, the implementation for ```of``` like this:
[code]
That's all, you don't need info for Monoid representative there, in fact Validation doesn't require Monoid, only Semigroup. But

[2017-03-13 14:09] rjmk commented on #360
Yep, you're right for `Validation` we do only need `Semigroup` and it *is* the presence of the `a` that requires the `Monoid`

[2017-03-13 14:17] syaiful6 commented on #360
Well, look like we need to discuss this on other chat room. But, as i am aware Validation doesn't require Monoid on it implementation of Applicative, even on Haskell/Purescript.

[2017-03-13 14:21] rjmk commented on #360
Sorry message above should have read "... it *is* the presence of `a` in `(,) a`". Just agreeing with you!

[2017-03-13 14:27] davidchambers commented on #339
There's no rush, @jordrake. Let's continue to iterate on your pull request. :)

[2017-03-14 13:02] #349 closed

[2017-03-17 19:06] gabejohnson commented on #338
I'm not sure what you mean by inverse versions. What is the expected behavior?

[2017-03-17 19:09] davidchambers commented on #338
I believe the issue title should mention `reject` and `rejectM`, but I'll let Stefano confirm this.

[2017-03-17 19:13] svozza commented on #338
Yes, that's it. Apologies, I should have been explicit.

[2017-03-17 19:16] gabejohnson commented on #338
Is this necessary since we have `complement`?

[2017-03-17 19:18] gabejohnson commented on #337
How general do you want to go with this? A quick search of Hoogle shows a lot of `zip` related functions.

[2017-03-17 19:24] davidchambers commented on #338
These functions aren't necessary, but they do improve readability in some cases. Consider:

[code]

I find myself exerting significantly less effort when reading the second expression.

[2017-03-17 19:27] gabejohnson commented on #338
Just playing 😈's advocate.

[2017-03-17 19:34] davidchambers commented on #337
I think it would be okay to provide Array-specific functions:

[code]

I'm not sure whether it's possible to provide these instead:

[code]

I imagine this will require more than just Foldable. I haven't given the general form much thought.

[2017-03-17 19:35] gabejohnson commented on #337
There's also `zipWithM` to consider.

[2017-03-17 19:37] svozza commented on #338
Yeah, I find `complements`too clunky.

[2017-03-17 19:37] gabejohnson commented on #337
I think `zip` and `zipWith` could work with`String` as well.

[2017-03-17 19:51] davidchambers commented on #338
It's worth noting that `complement` is itself unnecessary. This is the desugared form:

[code]

Although the `(not, negative)` section actually reads quite nicely, having to reason about lifting `not` makes this much less approachable than the `reject` equivalent.

Put differently, `complement` is nice sugar and `reject` is even nicer sugar in such cases.

[2017-03-17 19:54] davidchambers commented on #337
Could you provide an example of applying `zipWith` to strings, @gabejohnson?

[2017-03-17 20:04] gabejohnson commented on #337
[code]

[2017-03-17 20:05] gabejohnson commented on #337
Don't ask me about the utility 😄

[2017-03-17 20:11] davidchambers commented on #337
It's a different function, as it's monomorphic (we lost all the type variables). Let's not worry about the String-specific functions. ;)

[2017-03-17 20:17] gabejohnson commented on #337
More generally:
[code]

[2017-03-17 20:20] gabejohnson commented on #337
@davidchambers I see your point. Was only fixing the type to illustrate.

[2017-03-17 20:24] gabejohnson commented on #337
Or more generally:
[code]

[2017-03-18 07:37] safareli commented on #337
you can just apply `toList` to string and feed to `zipWith`
[code]

[2017-03-23 13:21] davidchambers commented on #353
I think we should borrow heavily from Haskell here.

Let's start with `sortBy`, which doesn't require a type class. We'll need to define `Ordering` via sanctuary-def. It will look something like this:

[code]

[Ord]: http://hackage.haskell.org/package/base-4.9.1.0/docs/Data-Ord.html#t:Ord
[Ordering]: http://hackage.haskell.org/package/base-4.9.1.0/docs/Data-Ord.html#t:Ordering
[`sortBy`]: http://h

[2017-03-23 13:28] sadasant commented on #353
@davidchambers thank you! I will make progress between today and tomorrow.

[2017-03-23 23:17] sadasant commented on #353
@davidchambers

So, what about `def('sortBy', {f: [Z.Applicative, Z.Foldable, Z.Monoid]}, [Fn(a, Fn(a, Ordering)), f(a), f(a)], sortBy);` ?

Then we could use something like this: `sortBy cmp = foldr (insertBy cmp) []`, or should we rather implement the better/harder merge sort that's over here? http://hackage.haskell.org/package/base-4.9.1.0/docs/src/Data.OldList.html#sortBy

Little question: Do

[2017-03-24 13:34] sadasant commented on #353
sortBy for review: https://github.com/sanctuary-js/sanctuary/pull/365

[2017-03-28 19:19] davidchambers commented on #353
Let's wait to see what happens with fantasyland/fantasy-land#235, as it will determine the direction we should take with `sort` and `sortBy`. Thank you for your work on this, @gabejohnson!

[2017-03-28 19:48] gabejohnson commented on #353
Happy to be of service! I'd hate to let an opportunity to generalize pass us by.

[2017-03-28 20:37] sadasant commented on #353
@davidchambers sure!
@gabejohnson thanks for the effort! \o/

[2017-03-29 17:30] jmatsushita opened #366 "Compared to Folktale?"
Hi there,

It would be quite interesting to hear what are some of the ways that Folktale and Sanctuary differ and compare in their approaches, as well as how they can interoperate (as hinted [here](https://github.com/sanctuary-js/sanctuary/issues/210#issuecomment-217225168))

Thanks!

Jun

[2017-03-29 17:32] jmatsushita commented on #366
Seems that for Flutures there's a benchmark comparing with Folktale's data.task https://github.com/fluture-js/Fluture#benchmarks

[2017-03-31 12:59] fvictorio commented on #332
How is the string representation of functions in the REPL implemented?

(I'm pretty sure this is not the right place to ask this, but that feature blew my mind and I really, _really_ want to know how to do it.)

[2017-03-31 13:12] Avaq commented on #332
Hi @fvictorio, in NodeJS, you can override the `inspect` method of any object, including functions, to create [a custom representation of your object](https://nodejs.org/api/util.html#util_custom_inspection_functions_on_objects) to show when `util.inspect()` is called on it. The REPL in node uses `util.inspec()` internally to format return values of expressions.

This feature is used by `sanctuary

[2017-04-02 17:56] #361 closed

[2017-04-02 23:01] sadasant commented on #351
Hi! What do you people think of:

[code]

Would it be better with Z.reduce? Or any other preference? ❤🙏

[2017-04-03 02:23] davidchambers commented on #366
One could describe Folktale as Scala-flavoured whereas Sanctuary is Haskell-flavoured. It would be helpful to mention Folktale in the documentation and to highlight the significant differences between Folktale and Sanctuary.

[2017-04-04 20:20] #346 closed

[2017-04-05 18:23] arsaniwilliam opened #373 "Type representation for generator functions"
executing this in the repl
[code]
results in
[code]
It used to work before, now it's breaking.
Is there a type representation for generator functions? (is this even the issue? i'm not completely sure)
I'm currently using the latest version of ES6

[2017-04-05 20:29] davidchambers commented on #373
The problem is that `function*() { return 12; }` is not a member of any of the types in [`S.env`][1].

One solution is to update the definition of [`$.AnyFunction`][2]. The current definition is essentially:

[code]

Generator functions do not satisfy this predicate. We could use this predicate instead:

[code]

If you're interested, @arsaniwilliam, you could submit a pull request for sanctuary-de

[2017-04-06 09:13] Jacse opened #374 "Add R.nth equivalent"
Would be great to a safe alternative to [Ramdas `R.nth`](http://ramdajs.com/docs/#nth).
Should be able to submit a PR soon if there are no objections.

[2017-04-06 09:14] Jacse commented on #374
Oh jees we have S.at. So sorry

[2017-04-06 09:14] #374 closed

[2017-04-06 10:21] davidchambers commented on #374
No problem. I don't recall why we chose a different name for this function.

[2017-04-06 16:46] arsaniwilliam commented on #373
@davidchambers  Thanks for the explanation.
I will submit a pull request soon.

[2017-04-06 17:55] arsaniwilliam commented on #373
merge request: github/sanctuary-js/sanctuary-def#131
1 problem though.. I added a line in the test to check that generator functions pass as well, but the es3 linter fails to parse the `*` .. not sure how to get around that.

[2017-04-06 17:59] gabejohnson commented on #373
@arsaniwilliam see this SO [question](http://stackoverflow.com/questions/23096064/how-can-i-feature-detect-es6-generators)

[2017-04-06 18:17] davidchambers commented on #373
Thank you for the pull request, Arsani! :)

[2017-04-06 18:23] arsaniwilliam commented on #373
My pleasure! This is my first public contribution on github and i'm glad it's to Sanctuary :)

[2017-04-06 18:52] arsaniwilliam commented on #373
So here's a thought.. at some point should we make the distinction between "normal" functions and Generator function types?

[2017-04-06 21:01] davidchambers commented on #373
We could define `$.AnyGeneratorFunction`, but for now I'm happy to let users define this type in their own code. I'm not sure yet whether such a type is useful.

[2017-04-09 20:06] #333 closed

[2017-04-11 10:30] #350 closed

[2017-04-11 17:03] gabejohnson commented on #53
@davidchambers, any interest in revisiting this now that Sanctuary is no longer dependent on Ramda?

[2017-04-11 17:24] davidchambers commented on #53
Absolutely! Let's open a new issue: `pipeK` is more limited than Haskell's `do` notation because it doesn't provide access to the results of all previous computations. Would you mind opening an issue for `pipeK`, @gabejohnson?

[2017-04-11 17:30] gabejohnson commented on #53
I can do that.

I've also been looking at [arrows and categories](https://en.wikibooks.org/wiki/Haskell/Understanding_arrows). Seems like something that would be useful to add to the spec.

[2017-04-11 17:32] gabejohnson commented on #53
Looks like there's already an issue for it https://github.com/fantasyland/fantasy-land/issues/208